<body ng-app="unionVillage">
    
    <div class="dd-main-wrapper" style="height: 100vh; width: 100%;">
      
      <!-- Beginning of Row -->
      <div class="row">
        
        <!-- Beginning of Las Vegas Section -->
        <div class="col-md-4 col-sm-12" style="text-align: center;">
          
          <span style="text-align: left;">
            <h1>Coming From Las Vegas, NV</h1>
            
            <ol class="drivingDirectionsList">
              <li>Head northeast on N Las Vegas Blvd toward E Ogden Ave</li>
              <li>Turn right to merge onto I-515 S/US-93 S/US-95 S</li>
              <li>Take exit 64B for Galleria Drive</li>
              <li>Keep left at the fork to continue toward Galleria Dr</li>
              <li>Use any lane to turn left onto Galleria Dr</li>
              <li>Make a U-turn at N Gibson Rd</li>
              <li>Destination will be on the right, <b>1050 Galleria Dr</b> Henderson, NV 89011</li>
            </ol>
          </span>
            
          <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d118045.75254375156!2d-115.16208114227408!3d36.12883876499846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x80beb782a4f57dd1%3A0x3accd5e6d5b379a3!2sLas+Vegas%2+NV!3m2!1d36.1699412!2d-115.1398296!4m5!1s0x80c8d0ecf0415d8d%3A0x88142a89d02a7d0!2s1050+Galleria+Dr%2C+Henderson%2C+NV+89011!3m2!1d36.071123199999995!2d-115.03024699999999!5e0!3m2!1sen!2sus!4v1454737715349" width="width: 200" height="300" frameborder="0" style="border:0; margin-top: 5%;" allowfullscreen></iframe>
        </div>
        <!-- End of Las Vegas Section -->
        
        <!-- Beginning of St. George Section -->
        <div class="col-md-4 col-sm-12" style="text-align: center;">
          
          <span style="text-align: left;">
            <h1>Coming From St. George, UT</h1>
            
            <ol class="drivingDirectionsList">
              <li>From UT-18 S/S Bluff St</li>
              <li>Use the right 2 lanes to turn right onto the ramp to Las Vegas</li>
              <li>Follow I-15 S to Galleria Dr in Henderson.</li>
              <li>Take exit 64B from I-515 S/US-93 S/US-95 S</li>
              <li>Use any lane to turn left onto Galleria Dr</li>
              <li>Make a U-turn at N Gibson Rd</li>
              <li>Destination will be on the right, <b>1050 Galleria Dr</b> Henderson, NV 89011</li>
            </ol>
          </span>
          
          <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d820128.1064851509!2d-114.92983502075725!3d36.587243608223936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x80ca44d0984939e5%3A0x531707f2f8a11c1e!2sSaint+George%2C+UT!3m2!1d37.0965278!2d-113.56841639999999!4m5!1s0x80c8d0ecf0415d8d%3A0x88142a89d02a7d0!2s1050+Galleria+Dr%2C+Henderson%2C+NV+89011!3m2!1d36.071123199999995!2d-115.03024699999999!5e0!3m2!1sen!2sus!4v1459900372966" width="width: 200" height="300" frameborder="0" style="border:0; margin-top: 5%;" allowfullscreen></iframe>
        </div>
        <!-- End of St. George Section -->
        
        <!-- Beginning of St. George Section -->
        <div class="col-md-4 col-sm-12" style="text-align: center;">
          
          <span style="text-align: left;">
            <h1>Coming From McCarran</h1>
            
            <ol class="drivingDirectionsList">
              <li>Head northwest on E Russell Rd toward Landing Strip Ave</li>
              <li>Make a U-turn at Landing Strip Ave</li>
              <li>Turn right onto the Interstate 515 S/US 95/US 93 ramp</li>
              <li>Merge onto I-515 S/US-93 S/US-95 S</li>
              <li>Take exit 64B for Galleria Drive</li>
              <li>Keep left at the fork and then use any lane to turn left onto Galleria Dr</li>
              <li>Make a U-turn at N Gibson Rd and you have arrived</li>
            </ol>
          </span>
          
          <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d103212.6277661113!2d-115.1554336180842!3d36.059477829161104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x80c8c59f1f049c5d%3A0x471359241ec41e1e!2sMcCarran+International+Airport%2C+5757+Wayne+Newton+Boulevard%2C+Las+Vegas%2C+NV+89119!3m2!1d36.0839998!2d-115.1537389!4m5!1s0x80c8d0ecf0415d8d%3A0x88142a89d02a7d0!2s1050+Galleria+Dr%2C+Henderson%2C+NV+89011!3m2!1d36.071123199999995!2d-115.03024699999999!5e0!3m2!1sen!2sus!4v1462348025551" width="width: 200" height="300" frameborder="0" style="border:0; margin-top: 5%;" allowfullscreen></iframe>
        </div>
        <!-- End of St. George Section -->
        
      </div>
      <!-- End of Row -->
    </div>
    <!-- End of page wrapper -->
</body>