<div class="cd-main-content" ng-controller="homeCtrl" style="height: 100vh; width: 100%; padding-top: 50px;">
    
    <div class="cd-fixed-bg cd-bg-1">
        <h1 class="hospitalHeader">Henderson Hospital</h1>
        
        <div class="arrowContainer">
            <div class="scroll-arrow firstArrow"></div>
            <div class="scroll-arrow secondArrow"></div>
            <div class="scroll-arrow thirdArrow"></div>
        </div>
    </div> <!-- cd-fixed-bg -->

    <div class="cd-scrolling-bg cd-color-2" id="cdVideo">
        <h1>Our Mission</h1>
        <video class="homevid" poster="/img/UV Video Placeholder 2.png" controls>
            <source src="vid/uvOpening.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <p class="shownMobile missionText">To shine as a beacon of hope for a nation in need. Union Village will be a city like none other that the world has ever known. A place of miracles, to celebrate the majesty of a child's birth and to honor the sunset of a long life lived wonderfully well. We are proud to introduce you to Union Village.  </p>
    </div> <!-- cd-scrolling-bg -->

    <div class="cd-fixed-bg cd-bg-2">
        <h2>760 Townhome Apartments</h2>
    </div> <!-- cd-fixed-bg -->

    <div class="cd-scrolling-bg cd-color-3" id="cdVision">
        <div class="cdInnerWrapper">
            <h1>Our Vision</h1>

            <img src="img/siteplan.png" class="homeSitePlan" alt="Site Plan">

            <p class="shownMobile visionText">Changing the way villages are integrated by bringing healthcare, real estate, retail, and entertainment all into one location.</p>


        </div> <!-- cd-container -->
    </div> <!-- cd-scrolling-bg -->


    <div class="cd-fixed-bg cd-bg-3">
        <h2>Center for Sports, Health and Healing</h2>
    </div> <!-- cd-fixed-bg -->


    <div class="cd-scrolling-bg cd-color-1" id="ourVision" style="width: 100%;">
        <div class="cd-container" style="color: #fff; padding-top: 3%; width: 100%;">
            <h1 style="margin-bottom: 5%;">Our Values</h1>
            
            <div class="col-xs-12" style="text-align: center;">
                
                <p class="valuesVerbiage">Inspired by 21st century medical innovation, Union Village integrates Leadership in Energy and Environmental Design (LEED) to create a progressive “green” live, work, play community featuring residential, retail, entertainment, and world-class healthcare.</p>

            </div>

        </div> <!-- cd-container -->
    </div> <!-- cd-scrolling-bg -->

    <div class="cd-fixed-bg cd-bg-4">
        <h2>Retail & Entertainment</h2>
    </div> <!-- cd-fixed-bg -->

</div>