<div class="cd-main-content" ng-controller="homeCtrl" style="height: 100vh; width: 100%; padding-top: 50px;">
    
    <div class="cd-fixed-bg cd-bg-1">
        <h1 class="hospitalHeader">Henderson Hospital</h1>
    </div> <!-- cd-fixed-bg -->

    <div class="cd-scrolling-bg cd-color-2" id="cdVideo">
        <h1>Our Mission</h1>
        <video class="homevid" poster="/img/UV Video Placeholder 2.png" controls>
            <source src="vid/uvOpening.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div> <!-- cd-scrolling-bg -->

    <div class="cd-fixed-bg cd-bg-2">
        <h2>Long Term Acute Care Hospital <br>&<br> Skilled Nursing Facility</h2>
    </div> <!-- cd-fixed-bg -->

    <div class="cd-scrolling-bg cd-color-3" id="cdVision">
        <div class="cd-container">
            <h1>Our Vision</h1>

            <img src="img/siteplan.png" class="homeSitePlan" alt="Site Plan">


        </div> <!-- cd-container -->
    </div> <!-- cd-scrolling-bg -->

    <div class="cd-fixed-bg cd-bg-3">
        <h2>Franklin Park Independent Living, Assisted Living, Memory Care</h2>
    </div> <!-- cd-fixed-bg -->


    <div class="cd-scrolling-bg cd-color-1" id="ourVision">
        <div class="cd-container" style="color: #fff; padding-top: 3%;">
            <h1 style="margin-bottom: 5%;">Our Values</h1>
            
            <div class="col-xs-12" style="text-align: center;">
                
                <p class="visionVerbiage">Union Village aspires to be a resting place and center for entertainment while providing outlets for people of all ages.</p>

                <br>

                <p class="visionVerbiage">It has been master planned to harmonize the lifestyle of every individual who steps foot onto its one-of-a-kind campus by integrating shopping, entertainment, healthcare, and senior living.</p>

            </div>

        </div> <!-- cd-container -->
    </div> <!-- cd-scrolling-bg -->

    <div class="cd-fixed-bg cd-bg-4">
        <h2>400 Townhome Apartments</h2>
    </div> <!-- cd-fixed-bg -->

</div>