<!-- Beginning of Main Body Contents -->
<div class="oc-page-wrapper" style="height: 100vh; width: 100%; text-align: center;">
  
  <h1>Co-Founders</h1>
  
  <div class="row" id="cofounder-row">
    
    <!--For our animations to look good, the animated elements need to be able to be scrolled to. For this example I've added dummy content to the top -->
    <div class="main-container" ng-controller="testingCtrl">
    
      <div class="container cf">
        <!-- Staff 1 -->
        <div class="animation-element multi-step-left cf">
          <div class="gallery">
            <h2 class="title">Gary Holland</h2>
            <h4 class="subtitle">Partner</h4>
            <div class="image" style="background-image: url(../img/ghProfile.png)"></div>
          </div>
        </div>
        <!-- Staff 2 -->
        <div class="animation-element multi-step-right cf">
          <div class="gallery">
            <h2 class="title">Craig Johnson</h2>
            <h4 class="subtitle">Partner</h4>
            <div class="image" style="background-image: url(../img/cjprofile.png)"></div>
          </div>
        </div>
        <!-- Staff 3 -->
        <div class="animation-element multi-step-left cf">
          <div class="gallery">
            <h2 class="title">David Baker</h2>
            <h4 class="subtitle">Partner</h4>
            <div class="image" style="background-image: url(../img/dbprofile.png)"></div>
          </div>
        </div>
    
    </div>
  
  </div>
  
  
  <!-- Beginning Of The Company Timeline -->
  <div class="container row" style="width: 100%; margin-left: 0px;">
    <div class="page-header">
      <h1 id="timeline">Company Timeline</h1>
    </div>
    <ul class="timeline">
      
      <li>
        <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">THREE GUYS ON A COUCH</h4>
            <h4><small class="text-muted"><i class="glyphicon glyphicon-time"></i>January 2010</small></h4>
          </div>
          <div class="timeline-body">
            <p>The co-founders sat on a couch at Baker’s home and talked about a hospital and senior retirement community, supported by the Unions, in Las Vegas.</p>
          </div>
        </div>
      </li>
      
      <li class="timeline-inverted">
        <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">THE INTEGRATION PARADIGM</h4>
            <h4><small class="text-muted"><i class="glyphicon glyphicon-time"></i>February 9, 2010</small></h4>
          </div>
          <div class="timeline-body">
            <p>The co-founders first conceived the Integrated Health Village.</p>
          </div>
        </div>
      </li>
      
      <li>
        <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">FINDING THE SITE</h4>
            <h4><small class="text-muted"><i class="glyphicon glyphicon-time"></i>June, 2010</small></h4>
          </div>
          <div class="timeline-body">
            <p>After an extensive Site Study of 11 possible locations in Clark County, Nevada, the Henderson/Galleria site was selected for the design development and construction of the first Integrated Health Village.</p>
          </div>
        </div>
      </li>
      
      <li class="timeline-inverted">
        <div class="timeline-badge success"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">CAPITAL RAISE</h4>
            <h4><small class="text-muted"><i class="glyphicon glyphicon-time"></i>August, 2010</small></h4>
          </div>
          <div class="timeline-body">
            <p>Union Village LLC circulated its first offering to raise capital.</p>
          </div>
        </div>
      </li>
      
      <li>
        <div class="timeline-badge info"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">PRESS RELEASE</h4>
            <h4><small class="text-muted"><i class="glyphicon glyphicon-time"></i>April 7, 2011</small></h4>
          </div>
          <div class="timeline-body">
            <p>The first press announcement for UnionVillage.</p>
          </div>
        </div>
      </li>
      
      <li>
        <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">APPROVAL BY CITY OF HENDERSON</h4>
            <h4><small class="text-muted"><i class="glyphicon glyphicon-time"></i>June, 2011</small></h4>
          </div>
          <div class="timeline-body">
            <p>Henderson City Council formally approved the sale of the property to UnionVillage, LLC.</p>
          </div>
        </div>
      </li>
      
      <li class="timeline-inverted">
        <div class="timeline-badge"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">HOSPITAL PARTNER</h4>
            <h4><small class="text-muted"><i class="glyphicon glyphicon-time"></i>June, 2013</small></h4>
          </div>
          <div class="timeline-body">
            <p>Universal Health Services signed a LOI to purchase 35 acres in UnionVillage to build a state-of-the-art hospital.</p>
          </div>
        </div>
      </li>
      
      <li>
        <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">GROUND BREAKING</h4>
            <h4><small class="text-muted"><i class="glyphicon glyphicon-time"></i>October 8, 2014</small></h4>
          </div>
          <div class="timeline-body">
            <p>Henderson Hospital Breaks Ground.</p>
          </div>
        </div>
      </li>
      
      <li class="timeline-inverted">
        <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">MORE PARTNERS</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>January, 2015</small></p>
          </div>
          <div class="timeline-body">
            <p>UnionVillage signs LOI’s with a number of users including:  Skilled Nursing, Long Term Acute Care, Senior Living, Apartment Developer, Dialysis Clinic, Wellness Clinic and Retail development.</p>
          </div>
        </div>
      </li>
      
    </ul>
  </div>
  <!-- End of Company Timeline -->

  
</div>
<!-- End of Main Body Contents -->