<body>
  
    <!-- Beginning of Main Body Contents -->
    <div class="oc-page-wrapper" style="height: 100vh; width: 100%; text-align: center;">
      
      <h1>Co-Founders</h1>
      
      <div class="row" id="cofounder-row">
        
        <!-- Gary Holland Column -->
        <div class="col-md-4">
          <a href="https://www.linkedin.com/in/gary-holland-515b3739" target="_blank">
            <h2>Gary Holland</h2>
            <h4>VP of Union Sponsorship</h4>
            
            <img src="img/gary holland profile.png">
            
            <p>Mr.  Holland serves on the Company’s Board of Managers and is its VP of Union Sponsorship. Mr. Holland has spent his career marketing health care plans to Unions.</p>
          </a>
          
          
        </div>
        <!-- End of Gary Holland Column -->
        
        <!-- Craig Johnson Column -->
        <div class="col-md-4">
          <a href="https://www.linkedin.com/in/craig-johnson-27bbb55" target="_blank">
            <h2>Craig Johnson</h2>
            <h4>VP of Strategic Planning</h4>
            
            <img src="img/craig johnson profile.png">
            
            <p>Mr. Johnson serves on the Company’s Board of Managers and is its VP of Strategic Planning. Mr. Johnson has an exemplary back ground.</p>
          </a>
          
        </div>
        <!-- End of Craig Johnson Column -->
        
        <!-- David Michael Column -->
        <div class="col-md-4">
          <a href="https://www.linkedin.com/in/david-baker-2a202415" target="_blank">
            <h2>David Baker</h2>
            <h4>CEO</h4>
            
            <img src="img/david baker profile.png">
            
            <p>Mr. Baker serves on the Company's Board of Managers and as its Chief Executive Officer. Mr. Baker is an accomplished leader and senior executive with a proven track record in building, growing and improving companies.</p>
          </a>
          
        </div>
        <!-- End of David Michael Column -->
      
      </div>
      
      
      <!-- Beginning Of The Company Timeline -->
      <div class="container row" style="width: 100%; margin-left: 0px;">
        <div class="page-header">
          <h1 id="timeline">Company Timeline</h1>
        </div>
        <ul class="timeline">
          
          <li>
            <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">FIVE GUYS ON A COUCH</h4>
                <h4><small class="text-muted"><i class="glyphicon glyphicon-time"></i>January 2010</small></h4>
              </div>
              <div class="timeline-body">
                <p>The co-founders sat on a couch at Baker’s home and talked about a hospital and senior retirement community, supported by the Unions, in Las Vegas.</p>
              </div>
            </div>
          </li>
          
          <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">THE INTEGRATION PARADIGM</h4>
                <h4><small class="text-muted"><i class="glyphicon glyphicon-time"></i>February 9, 2010</small></h4>
              </div>
              <div class="timeline-body">
                <p>The co-founders first conceived the Integrated Health Village.</p>
              </div>
            </div>
          </li>
          
          <li>
            <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">FINDING THE SITE</h4>
                <h4><small class="text-muted"><i class="glyphicon glyphicon-time"></i>June, 2010</small></h4>
              </div>
              <div class="timeline-body">
                <p>After an extensive Site Study of 11 possible locations in Clark County, Nevada, the Henderson/Galleria site was selected for the design development and construction of the first Integrated Health Village.</p>
              </div>
            </div>
          </li>
          
          <li class="timeline-inverted">
            <div class="timeline-badge success"><i class="glyphicon glyphicon-credit-card"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">CAPITAL RAISE</h4>
                <h4><small class="text-muted"><i class="glyphicon glyphicon-time"></i>August, 2010</small></h4>
              </div>
              <div class="timeline-body">
                <p>Union Village LLC circulated its first offering to raise capital.</p>
              </div>
            </div>
          </li>
          
          <li>
            <div class="timeline-badge info"><i class="glyphicon glyphicon-credit-card"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">PRESS RELEASE</h4>
                <h4><small class="text-muted"><i class="glyphicon glyphicon-time"></i>April 7, 2011</small></h4>
              </div>
              <div class="timeline-body">
                <p>The first press announcement for UnionVillage.</p>
              </div>
            </div>
          </li>
          
          <li>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">APPROVAL BY CITY OF HENDERSON</h4>
                <h4><small class="text-muted"><i class="glyphicon glyphicon-time"></i>June, 2011</small></h4>
              </div>
              <div class="timeline-body">
                <p>Henderson City Council formally approved the sale of the property to UnionVillage, LLC.</p>
              </div>
            </div>
          </li>
          
          <li class="timeline-inverted">
            <div class="timeline-badge"><i class="glyphicon glyphicon-credit-card"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">HOSPITAL PARTNER</h4>
                <h4><small class="text-muted"><i class="glyphicon glyphicon-time"></i>June, 2013</small></h4>
              </div>
              <div class="timeline-body">
                <p>Universal Health Services signed a LOI to purchase 35 acres in UnionVillage to build a state-of-the-art hospital.</p>
              </div>
            </div>
          </li>
          
          <li>
            <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">GROUND BREAKING</h4>
                <h4><small class="text-muted"><i class="glyphicon glyphicon-time"></i>October 8, 2014</small></h4>
              </div>
              <div class="timeline-body">
                <p>Henderson Hospital Breaks Ground.</p>
              </div>
            </div>
          </li>
          
          <li class="timeline-inverted">
            <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">MORE PARTNERS</h4>
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>January, 2015</small></p>
              </div>
              <div class="timeline-body">
                <p>UnionVillage signs LOI’s with a number of users including:  Skilled Nursing, Long Term Acute Care, Senior Living, Apartment Developer, Dialysis Clinic, Wellness Clinic and Retail development.</p>
              </div>
            </div>
          </li>
          
        </ul>
      </div>
      <!-- End of Company Timeline -->

      
    </div>
    <!-- End of Main Body Contents -->
  
</body>