<!-- Beginning of Carousel -->
<div class="block" style="height: 100vh;">
	
	<!-- Beginning of integratedVillage Carousel -->
	<div id="integratedVillageCarousel" class="carousel slide wvWrapper" data-ride="carousel" data-interval="10000">
		
		<!-- Wrapper for Slides -->
		<div class="carousel-inner" role="listbox">
			
			<!-- Integrated Village Slide -->
			<div class="item active">
				<img src="img/siteplan.png" class="homeimg" alt="Site Plan">
				<div class="carousel-caption">
					<p id="carousel-paragraph">Imagine walking into one of the first and largest integrated villages in the world.  Union Village is creating a vibrant, architecturally aesthetic, technologically innovative, and environmentally sustainable master-planned village offering a promenade of specialty retail and entertainment, restaurants, residential, and a world-class healthcare complex.</p>
				</div>
			</div>

			<!-- Retail Slide -->
			<div class="item">
				<img src="img/retail hp.jpg" alt="Introducing the Wellness Village">
				<div class="carousel-caption">
					<p id="carousel-paragraph">As you approach the Union Village Promenade, you will find a variety of specialty retail shops and restaurants.</p>
				</div>
			</div>

			<!-- Hotel Slide -->
			<div class="item">
				<img src="img/hotelOutdoor.jpg" class="homeimg" alt="Hotels">
				<div class="carousel-caption">
					<p id="carousel-paragraph">At one end of the Promenade stands “all suite” hotel accommodations.</p>
				</div>
			</div>

			<!-- Entertainment Slide -->
			<div class="item">
				<img src="img/retailpromenade2.png" class="homeimg" alt="Entertainment">
				<div class="carousel-caption">
					<p id="carousel-paragraph">Along the Promenade you will discover myriad sources of entertainment and technology, from eco-friendly waterscapes, interactive experiences, and social and musical venues.</p>
				</div>
			</div>
			
			<!-- Hospital Slide -->
			<div class="item">
				<img src="img/henderson hospital final.jpeg" class="homeimg" alt="Henderson Hospital">
				<div class="carousel-caption">
					<p id="carousel-paragraph">As you explore Union Village, you will discover reality in the making with a world-class health care and wellness complex, including the anchor Henderson Hospital, one of the most successful start-ups in the U.S., an array of Western and Eastern treatment modalities, dialysis clinic, golden-age residential options, and long-term-acute and skilled-nursing care.</p>
				</div>
			</div>


			<!-- Hospital Slide -->
			<div class="item">
				<img src="img/sportsHealthBuilding.png" class="homeimg" alt="Center for Sports, Health & Healing">
				<div class="carousel-caption">
					<p id="carousel-paragraph">The Union Village vision and innovation is further revealed with The Center for Sports, Health and Healing, offering integrative approaches and a continuum of care to promote, preserve and restore strength, health and vitality.  Holistic, mind-body and bio-identical therapies, personalized fitness and nutrition programs, professional athletic and rehabilitation training, a full-service spa, and myriad other health-inspiring and therapeutic services will be available.</p>
				</div>
			</div>

		</div>
		<!-- End of Carousel Inner -->
		
		<!-- Left and right controls, the top section is the left carousel control -->
		<span class="left carousel-control" data-target="#integratedVillageCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</span>
		<span class="right carousel-control" data-target="#integratedVillageCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</span>
		<!-- End of left and right controls -->
		
	</div>
	<!-- End of integratedVillage Carousel -->
	
</div>