<body>
    
    <!-- Beginning of Main Body Contents -->
    <div class="play-page-wrapper" style="height: 100vh; width: 100%;">
      
      <div class="row top-row">
        <h1 style="display: inline;">Play.</h1>
        <h4 style="display: inline; margin-left: 2%;">Click on the image to direct link to our Retail Partners!</h4>
      </div>
      
      <div class="row top-row">
        <!-- LVAC Fitness Center Column -->
        <div class="col-sm-4">
          <div class="inner-wrapper">
            <a ui-sref="#" data-toggle="modal" data-target="#lvacFitnessCenterModal">
              <img src="img/lvac fitness center 2.png">
              <div id="overlay_text"><span style="margin-left: 5px;">Las Vegas Athletic Club Fitness Center</span></div>
            </a>
          </div>
        </div>
        
        <!-- LVAC Fitness Center Modal -->
        <div id="lvacFitnessCenterModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
        
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Las Vegas Athletic Club Fitness Center</h4>
              </div>
              <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.</p>
                <br><br><a href="#" target="_blank">www.newlinkhere.com</a>
              </div>
              <!-- End of Modal Content -->
              
              <!-- Modal Footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
              <!-- End of Modal Footer -->
              
            </div>
          </div>
        </div>
        <!-- End of LVAC Fitness Center Modal -->
   
      </div>
      <!-- End of LVAC Fitness Center Column and Row -->
      
      
      <div class="row bottom-row">
        <a href="work.html"><h2 style="display: inline;"><span style="margin-left: 0px; font-size: 24px;" class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="padding-left: 16%;"></span>Work.</h2></a>
      </div>
      
    </div>
    <!-- End of Main Body Contents -->
  
</body>