<body ng-app="unionVillage" id="pressBody">
  
    <div class="press-page-wrapper" style="height: 100vh;">
      
      <!-- Beginning of Press Videos -->
      <h3 style="margin-left: 8px;">Press Videos</h3>
      
      <!-- First Row of Videos -->
      <div class="row top-rows">
        
        <div class="col-sm-3">
          <!-- YouTube iframe add '?autoplay=1' to end of url to make it autoplay when user opens project tab -->
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/CIEpY0_CaIg" allowfullscreen></iframe>
          <!-- End of YouTube iframe -->
        </div>
        
        <div class="col-sm-3">
          <!-- YouTube iframe add '?autoplay=1' to end of url to make it autoplay when user opens project tab -->
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ii5FL1A2LjM" allowfullscreen></iframe>
          <!-- End of YouTube iframe -->
        </div>
        
        <div class="col-sm-3">
          <!-- YouTube iframe add '?autoplay=1' to end of url to make it autoplay when user opens project tab -->
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/SHhx12GB_Vs" allowfullscreen></iframe>
          <!-- End of YouTube iframe -->
        </div>
        
        <div class="col-sm-3">
          <!-- YouTube iframe add '?autoplay=1' to end of url to make it autoplay when user opens project tab -->
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/wxpkI6HwE3U" allowfullscreen></iframe>
          <!-- End of YouTube iframe -->
        </div>
        
        <div class="col-sm-3">
          <!-- YouTube iframe add '?autoplay=1' to end of url to make it autoplay when user opens project tab -->
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ROvNfCW9P4Q" allowfullscreen></iframe>
          <!-- End of YouTube iframe -->
        </div>
        
        <div class="col-sm-3">
          <!-- YouTube iframe add '?autoplay=1' to end of url to make it autoplay when user opens project tab -->
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/NI81G5cMV70" allowfullscreen></iframe>
          <!-- End of YouTube iframe -->
        </div>
        
        <div class="col-sm-3">
          <a href="https://www.youtube.com/channel/UCdcy7TG_WGtToLxaggv6W1A" target="_blank" style="text-align: center;"><p style="margin-top: 20%;">View More Union Village Videos Here</p></a>
        </div>
      </div>
      <!-- End of Press Videos -->
      
      
      <!-- Beginning of Politics -->
      <h3 style="margin-left: 8px; margin-top: 3%;">Politics</h3>
      
      <!-- First Row of Politics -->
      <div class="row top-rows">
        
        <!-- Senator Harry Reid Section -->
        <div class="col-sm-6">
          <div style="float: left; width: 200px; margin: 0px 15px 10px 0;">
            <img src="img/senator harry reid.jpg" width="100%" height="100%" alt="Senator Harry Reid on Union Village" />
          </div>
          
          <p>
          “This announcement is an important first step forward for a visionary project that will not only improve the delivery of health services in southern Nevada, but create thousands of jobs and diversify our economy.  I look forward to the groundbreaking and congratulate Mayor Hafen, St. Rose Hospitals and the City of Henderson on moving this endeavor forward.”
          </p>
          
          <p>
          <b>–Senator Harry Reid</b>
          </p>
        </div>
        <!-- End of Harry Reid Section -->
        
        <!-- Governor Sandoval Section -->
        <div class="col-sm-6">
          <div style="float: right; width: 200px; margin: 0px 0px 15px 10px;">
            <img src="img/governor sandoval.jpg" width="100%" height="100%" alt="Governor Sandoval on Union Village" />
          </div>
          
          <p>
          “I am excited about the first integrated and mixed-use community that will be a state-of-art and world-class ‘Gateway’ between the city of Henderson and all of Nevada. This project will provide Nevadans new job opportunities and help improve access to care in Southern Nevada.”
          </p>
          
          <p style="text-align: right;">
          <b>–Governor Brian Sandoval</b>
          </p>
        </div>
        <!-- End of Sandoval Section -->
        
      </div>
      <!-- End of First Row of Politics -->
      
      <!-- Second Row of Politics -->
      <div class="row top-rows">
        
        <!-- Beginning of Joe Heck Section -->
        <div class="col-sm-6">
          <div style="float: right; width: 200px; margin: 0px 0px 15px 10px;">
            <img src="img/congressman joe heck.jpg" width="100%" height="100%" alt="Congressman Joe Heck on Union Village" />
          </div>
          
          <p>
          “Public-Private partnership projects like Union Village, that create sustainable long-term job opportunities, show promise as one key way to get Nevada’s economy moving again.”
          </p>
          
          <p style="text-align: right;">
          <b>–Congressman Joe Heck, D.O.</b>
          </p>
        </div>
        <!-- End of Joe Heck Section -->
        
        
        <div class="col-sm-6">
          <div style="float: left; width: 200px; margin: 0px 15px 10px 0;">
            <img src="img/andy hafen.jpg" width="100%" height="100%" alt="Andy Hafen on Union Village" />
          </div>
          
          <p>
          “This is a visionary project that will bring healthcare options for our residents to a whole new level.  We have a vision to be a premier community, and this is the type of development that supports that goal.  It will bring crucial jobs to our state, provide access to outstanding healthcare and generate crucial economic development opportunities for our region.  We are excited to work with Union Village to bring this project to our city.”
          </p>
          
          <p>
          <b>–Henderson Mayor Andy Hafen</b>
          </p>
        </div>
        
      </div>
      <!-- End of Second Row of Politics -->
      <!-- End of Politics -->
      
      
      <!-- Beginning of Press Articles -->
      <div class="row">  
        <div class="col-xs-12 col-md-2">
          <h3 style="margin-left: 8px;">Press Articles</h3>
        </div>
      </div>

      <!-- first row of articles -->
      <div class="row" style="height: 25%;">
        

        <div class="col-xs-12 col-md-3" style="height: 100%; text-align: center;">
          <h4 style="color: #b4d7a8;">Las Vegas Sun</h4>
          <h6 style="margin-top: 0px; margin-bottom: 5%;">05/28/15</h6>

          <p>Las Vegas Athletic Clubs plans to build its eighth fitness center at Union Village... <a href="pdf/05.28.15_LV-Sun.pdf" target="_blank" style="cursor: pointer;">More Info</a></p>
        </div>


        <div class="col-xs-12 col-md-3" style="height: 100%; text-align: center;">
          <h4 style="color: #b4d7a8;">Fox 5 Vegas</h4>
          <h6 style="margin-top: 0px; margin-bottom: 5%;">07/09/15</h6>

          <p>Construction on massive Henderson Hospital moving forward... <a href="pdf/07.09.15_FOX5Vegas.pdf" target="_blank" style="cursor: pointer;">More Info</a></p>
        </div>


        <div class="col-xs-12 col-md-3" style="height: 100%; text-align: center;">
          <h4 style="color: #b4d7a8;">Travel Weekly</h4>
          <h6 style="margin-top: 0px; margin-bottom: 5%;">09/14/15</h6>

          <p>Officials get behind wellness tourism initiative... <a href="pdf/9.14.15_Travel-Weekly.pdf" target="_blank" style="cursor: pointer;">More Info</a></p>
        </div>


        <div class="col-xs-12 col-md-3" style="height: 100%; text-align: center;">
          <h4 style="color: #b4d7a8;">Las Vegas Sun</h4>
          <h6 style="margin-top: 0px; margin-bottom: 5%;">04/27/16</h6>

          <p>Construction set for senior community at Henderson’s Union Village... <a href="pdf/20160427_lvs_article.pdf" target="_blank" style="cursor: pointer;">More Info</a></p>
        </div>

      </div>


      <!-- second row of articles -->
      <div class="row" style="height: 25%;">
        

        <div class="col-xs-12 col-md-3" style="height: 100%; text-align: center;">
          <h4 style="color: #b4d7a8;">Vegas Seven</h4>
          <h6 style="margin-top: 0px; margin-bottom: 5%;">02/26/15</h6>

          <p>Henderson's Union Village hopes to spark medical tourism movement... <a href="pdf/Feb-26-March-4.15_Vegas-Seven.pdf" target="_blank" style="cursor: pointer;">More Info</a></p>
        </div>


        <div class="col-xs-12 col-md-3" style="height: 100%; text-align: center;">
          <h4 style="color: #b4d7a8;">Nevada Business Magazine</h4>
          <h6 style="margin-top: 0px; margin-bottom: 5%;">03/01/15</h6>

          <p>Building a healthy economy - medical tourism comes to Nevada... <a href="pdf/March-2015_Nevada-Business-Magazine.pdf" target="_blank" style="cursor: pointer;">More Info</a></p>
        </div>


        <div class="col-xs-12 col-md-3" style="height: 100%; text-align: center;">
          <h4 style="color: #b4d7a8;">Las Vegas Sun</h4>
          <h6 style="margin-top: 0px; margin-bottom: 5%;">07/10/15</h6>

          <p>Henderson Hospital foundation pouring paves way for development of Union Village... <a href="pdf/07.10.15_LasVegasSun.pdf" target="_blank" style="cursor: pointer;">More Info</a></p>
        </div>


        <div class="col-xs-12 col-md-3" style="height: 100%; text-align: center;">
          <h4 style="color: #b4d7a8;">Las Vegas Business Press</h4>
          <h6 style="margin-top: 0px; margin-bottom: 5%;">07/20/15</h6>

          <p>Union Village seen as driver of medical tourism... <a href="pdf/7.20.15_LV-Business-Press.pdf" target="_blank" style="cursor: pointer;">More Info</a></p>
        </div>

      </div>


      <!-- third row of articles -->
      <div class="row" style="height: 25%; margin-bottom: 5%;">
        
        <div class="col-xs-12 col-md-3" style="height: 100%; text-align: center;">
          <h4 style="color: #b4d7a8;">Las Vegas Business Press</h4>
          <h6 style="margin-top: 0px; margin-bottom: 5%;">10/17/16</h6>

          <p>Henderson Hospital opens Union Village... <a href="pdf/10.17.16_hendersonHospitalOpens.pdf" target="_blank" style="cursor: pointer;">More Info</a></p>
        </div>

      </div>

      
    </div>
  
</body>