<div class="pgWrapper lwpWrapper" style="height: 100vh; width: 100%;">
    <div class="row" style="height: 100%;">
	    <div class="col-md-12">

            <!-- beginning top tab bar -->
            <ul class="nav nav-tabs" id="projectTab" role="tablist">
            <li class="nav-item active" style="margin-left: 3%; width: 30%;">
                <a class="nav-link active" id="live-tab" data-toggle="tab" href="#live" role="tab" aria-controls="live" aria-selected="true">Live</a>
            </li>
            <li class="nav-item" style="width: 30%;">
                <a class="nav-link" id="work-tab" data-toggle="tab" href="#work" role="tab" aria-controls="work" aria-selected="false">Work</a>
            </li>
            <li class="nav-item" style="width: 30%;">
                <a class="nav-link" id="play-tab" data-toggle="tab" href="#play" role="tab" aria-controls="play" aria-selected="false">Play</a>
            </li>
            </ul>
            <!-- end top tab bar -->

            <!-- beginning of tab body contents -->
            <div class="tab-content" id="projectTabContent">


                <!----------------------------------------------------------------------------------------->
                
                <!--

                    LIVE TAB STARTS HERE

                -->

                <div class="tab-pane active" id="live" role="tabpanel" aria-labelledby="live-tab" style="padding-top: 2%; height: 100%;">
            
                    <!-- the well -->
                    <div class="row">
                    
                        <!-- image section -->
                        <div class="col-xs-12 col-md-6 col-lg-4 cardLeftImg">
                            <img src="../img/wellApartmentsOutside.jpg" />
                        </div>

                        <!-- text section -->
                        <div class="col-xs-12 col-md-6 col-lg-8 cardRightText" style="background-color: #99a478;">
                    
                            <!-- header -->
                            <div class="fullWidth" style="height: 25%; padding-left: 2%;  text-align: right;">
                                <h1 style="color: #fff; margin-right: 5%;">The Well</h1>
                                <hr style="color: #aaa; width: 90%;" />
                            </div>

                            <!-- body -->
                            <div class="fullWidth centerText" style="height: 75%;">
                        
                                <div class="col-xs-12 col-lg-4 pWrapper">
                                    <p class="whiteFont">Find the cure for the average apartment with thoughtful details such as quartz counters, under-cabinet lighting and large windows to let light in.</p>
                                </div>

                                <div class="col-xs-12 col-lg-4 pWrapper">
                                    <p class="whiteFont">Get your daily dose of vitamin D by the pool, a shot of energy at the fitness center or a little group therapy at the lounge, which offers complimentary wine and craft ale on tap.</p>
                                </div>

                                <div class="col-xs-12 col-lg-4">
                                    <p class="whiteFont">Rest easy. The Union Village neighborhood offers world-class health-oriented businesses and amenities so you can catch-up with your physician, catch the latest movie, or play catch with Fido.</p>
                                </div>
                        
                            </div>
                    
                        </div>
                    </div>


                    <!-- franklin park -->
                    <div class="row">

                        <!-- image section -->
                        <div class="col-xs-12 col-md-6 col-lg-4 cardLeftImg shownMobile">
                            <img src="../img/franklin park hp 2.jpg" />
                        </div>
                    
                        <!-- text section -->
                        <div class="col-xs-12 col-md-6 col-lg-8 cardLeftText" style="background-color: #b4d7a8; color: #3d3536;">
                    
                            <!-- header -->
                            <div class="fullWidth" style="height: 25%; padding-left: 2%; ">
                                <h1 style="margin-left: 5%;">Apartment Homes</h1>
                                <hr style="color: #aaa; width: 90%;" />
                            </div>

                            <div class="fullWidth centerText" style="height: 10%;  padding: 1%;">
                                <p>Construction has begun on one of the finest apartment home projects in Henderson. These will be 1-3 Bedroom Apartment Homes each containing:</p>
                            </div>
                        
                            <!-- body -->
                            <div class="fullWidth centerText" style="height: 65%; padding: 2%; margin-top: 25px; text-align: left;">

                                <div class="col-xs-12 col-md-6">
                                    <ul>
                                        <li>Granite Countertops</li>
                                        <li>Espresso Custom Cabinets</li>
                                        <li>Under Cabinet Lighting in Kitchen</li>
                                        <li>Island Kitchen with Granite</li>
                                    </ul>
                                </div>

                                <div class="col-xs-12 col-md-6">
                                    <ul>
                                        <li>Stainless Steel Whirlpool Appliances</li>
                                        <li>Faux Wood Flooring</li>
                                        <li>Full-Size Washer/Dryer Included</li>
                                        <li>Storage on Patio/Balcony*</li>
                                    </ul>
                                </div>

                            </div>

                        </div>
                
                        <!-- image section -->
                        <div class="col-xs-12 col-md-6 col-lg-4 cardRightImg hiddenMobile">
                            <img src="../img/franklin park hp 2.jpg" />
                        </div>

                    </div>



                    <!-- senior apartments -->
                    <div class="row">

                        <!-- image section -->
                        <div class="col-xs-12 col-md-6 col-lg-4 cardLeftImg">
                            <img src="../img/seniorliving.png" />
                        </div>

                        <!-- text section -->
                        <div class="col-xs-12 col-md-6 col-lg-8 cardRightText" style="background-color: #3d3536;">

                            <!-- header -->
                            <div class="fullWidth" style="height: 25%; padding-left: 2%; text-align: right;">
                                <h1 style="color: #fff; margin-right: 5%;">Senior Apartments</h1>
                                <hr style="color: #aaa; width: 90%;" />
                            </div>

                            <!-- body -->
                            <div class="fullWidth centerText" style="height: 75%; padding: 2%;">

                                <div class="col-xs-12 col-lg-4">
                                    <p class="whiteFont">Beautiful, vibrant and affordable senior living for those 55+ is coming to Union Village. The project will be comprised of three-story mid-rise buildings and carriage style homes, some with garages. </p>
                                </div>

                                <div class="col-xs-12 col-lg-4">
                                    <p class="whiteFont">These brand new and spacious floor plans will feature quality interior finishes including Energy Star-rated Clean Steel kitchen appliances, granite countertops and in-home washer/dryer option.</p>
                                </div>

                                <div class="col-xs-12 col-lg-4">
                                    <p class="whiteFont">Community amenities will consist of Wi-Fi care, arts-and-craft room and ability to enjoy free membership in the fitness center and spa at Union Village.</p>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="bottomPad" style="height: 40px;"></div>

                </div>
        
                <!----------------------------------------------------------------------------------------->

                <!--
                
                    WORK TAB STARTS HERE    
                
                -->
        
                <div class="tab-pane fade" id="work" role="tabpanel" aria-labelledby="work-tab" style="padding-top: 2%; height: 100%;">

                    <!-- work at lvac -->
                    <div class="row">

                        <!-- image section -->
                        <div class="col-xs-12 col-md-6 col-lg-4 cardLeftImg">
                            <img src="../img/lvac fitness center.png" />
                        </div>

                        <!-- text section -->
                        <div class="col-xs-12 col-md-6 col-lg-8 cardRightText" style="background-color: #99a478;">

                            <!-- header -->
                            <div class="fullWidth" style="height: 25%; padding-left: 2%;  text-align: right;">
                                <h1 style="color: #fff; margin-right: 5%;">Las Vegas Athletic Club</h1>
                                <hr style="color: #aaa; width: 90%;" />
                            </div>

                            <!-- body -->
                            <div class="fullWidth centerText" style="height: 75%; padding: 2%; color: #fff;">

                                <div class="col-xs-12">
                                    <p>Contact us to learn more about working at the Las Vegas Athletic Club</p>
                                </div>

                                <div class="col-xs-12" style="margin-top: 25px;">
                                    <button type="button" class="btn" data-toggle="modal" data-target="#lvacEmploymentModal" style="border-radius: 0px; background-color: transparent; border: 1px solid #fff; font-size: 16px;">Contact Us</button>

                                    <!-- Las Vegas Athletic Club Fitness Center Modal -->
                                    <div id="lvacEmploymentModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="lvacEmploymentModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title" style="color: #000;">Las Vegas Athletic Club Fitness Center</h4>
                                                </div>
                                                <div class="modal-body" style="text-align: center;">
                                                    <!--<h4>To learn more about the Valley Health Systems Henderson Hospital click <a ng-href="mailto:hr@hendersonhospital.com?subject=Inquiring%20About%20A%20Job%20Opening&body=Name:%0D%0DJob%20I'm%20Inquiring%20About:%0D%0DYears%20of%20Experience:%0D%0DHours%20Available%20Per%20Week:%0D%0DExpected%20Compensation:%0D%0D%0D%0DCover%20Letter:%0D%0D">HERE</a> or email work@unionvillage.net</h4>-->
                                                    <h4 style="color: #000;">To learn more about working at the Las Vegas Athletic Club Fitness Center fill out the form below with your contact information, cover letter, and attached resume</h4>

                                                    <form action="php/work_form_email.php" method="post" style="text-align: left;" enctype="multipart/form-data">

                                                        <label for="fname" style="margin-top: 0px; color: #000;"><span style="color: #ff0000">*</span>First Name:</label>
                                                        <input type="text" class="form-control" ng-model="firstName" placeholder="First Name" name="first_name" id="fname" style="width: 75%;" required /><br>

                                                        <label for="lname" style="margin-top: 0px; color: #000;"><span style="color: #ff0000">*</span>Last Name:</label>
                                                        <input type="text" class="form-control" ng-model="lastName" placeholder="Last Name" name="last_name" id="lname" style="width: 75%;" required /><br>

                                                        <label for="yemail" style="margin-top: 0px; color: #000;"><span style="color: #ff0000">*</span>Your Email:</label>
                                                        <input type="text" class="form-control" ng-model="yourEmail" placeholder="Your Email" name="email" id="yemail" style="width: 75%;" required /><br>

                                                        <label for="message" style="margin-top: 0px; color: #000;"><span style="color: #ff0000">*</span>Cover Letter:</label>
                                                        <textarea class="form-control" ng-model="message" name="message" rows="5" id="message" style="width: 75%; resize: none;" required></textarea><br>

                                                        <label for="facility" style="margin-top: 0px; color: #000;"><span style="color: #ff0000">*</span>Facility:</label>
                                                        <select class="form-control" id="facility" name="facility" style="width: 75%;" required>
                                                            <option value="Las Vegas Athletic Club Fitness Center" selected>Las Vegas Athletic Club Fitness Center</option>
                                                        </select><br>

                                                        <label for="uploaded_file" style="color: #000;"><span style="color: #ff0000">*</span>File input</label>
                                                        <input type="file" class="form-control-file" id="uploaded_file" name="uploaded_file" required>
                                                        <small class="text-muted">Please attach your resume here</small><br>

                                                        <input class="btn btn-primary" type="submit" name="submit" value="Submit" style="margin-top: 15px;">
                                                    </form>
                                                </div>
                                                <!-- End of Modal Content -->
                                                <!-- Modal Footer -->
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                                <!-- End of Modal Footer -->

                                            </div>
                                        </div>
                                    </div>
                                    <!-- End of Las Vegas Athletic Club Fitness Center Modal -->

                                </div>


                            </div>

                        </div>
                    </div>


                    <!-- work at wolff -->
                    <div class="row">

                        <!-- image section -->
                        <div class="col-xs-12 col-md-6 col-lg-4 cardLeftImg shownMobile">
                            <img src="../img/wellApartmentsOutside.jpg" />
                        </div>

                        <!-- text section -->
                        <div class="col-xs-12 col-md-6 col-lg-8 cardLeftText" style="background-color: #b4d7a8; color: #3d3536;">

                            <!-- header -->
                            <div class="fullWidth" style="height: 25%; padding-left: 2%; ">
                                <h1 style="margin-left: 5%;">Wolff Apartment Communities</h1>
                                <hr style="color: #aaa; width: 90%;" />
                            </div>

                            <div class="fullWidth centerText" style="height: 10%; font-size: 18px; padding: 1%;">
                                <p>Contact us to learn more about working at The Well Apartment Homes</p>
                            </div>

                            <!-- body -->
                            <div class="fullWidth centerText" style="height: 65%; font-size: 18px; padding: 2%; margin-top: 25px;">

                                <button type="button" class="btn" data-toggle="modal" data-target="#wolffEmploymentModal" style="border-radius: 0px; background-color: transparent; border: 1px solid #3d3536; font-size: 16px;">Contact Us</button>

                                <!-- Wolff Apartment Communities Modal -->
                                <div id="wolffEmploymentModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="wolffEmploymentModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Wolff Apartment Communities</h4>
                                            </div>
                                            <div class="modal-body" style="text-align: center;">
                                                <!--<h4>To learn more about the Valley Health Systems Henderson Hospital click <a ng-href="mailto:hr@hendersonhospital.com?subject=Inquiring%20About%20A%20Job%20Opening&body=Name:%0D%0DJob%20I'm%20Inquiring%20About:%0D%0DYears%20of%20Experience:%0D%0DHours%20Available%20Per%20Week:%0D%0DExpected%20Compensation:%0D%0D%0D%0DCover%20Letter:%0D%0D">HERE</a> or email work@unionvillage.net</h4>-->
                                                <h4>To learn more about working at the Wolff Apartment Communities fill out the form below with your contact information, cover letter, and attached resume</h4>

                                                <form action="php/work_form_email.php" method="post" style="text-align: left;" enctype="multipart/form-data">

                                                    <label for="fname" style="margin-top: 0px; color: #000;"><span style="color: #ff0000">*</span>First Name:</label>
                                                    <input type="text" class="form-control" ng-model="firstName" placeholder="First Name" name="first_name" id="fname" style="width: 75%;" required /><br>

                                                    <label for="lname" style="margin-top: 0px; color: #000;"><span style="color: #ff0000">*</span>Last Name:</label>
                                                    <input type="text" class="form-control" ng-model="lastName" placeholder="Last Name" name="last_name" id="lname" style="width: 75%;" required /><br>

                                                    <label for="yemail" style="margin-top: 0px; color: #000;"><span style="color: #ff0000">*</span>Your Email:</label>
                                                    <input type="text" class="form-control" ng-model="yourEmail" placeholder="Your Email" name="email" id="yemail" style="width: 75%;" required /><br>

                                                    <label for="message" style="margin-top: 0px; color: #000;"><span style="color: #ff0000">*</span>Cover Letter:</label>
                                                    <textarea class="form-control" ng-model="message" name="message" rows="5" id="message" style="width: 75%; resize: none;" required></textarea><br>

                                                    <label for="facility" style="margin-top: 0px; color: #000;"><span style="color: #ff0000">*</span>Facility:</label>
                                                    <select class="form-control" id="facility" name="facility" style="width: 75%;" required>
                                                        <option value="Wolff Apartment Communities" selected>Wolff Apartment Communities</option>
                                                    </select><br>

                                                    <label for="uploaded_file" style="color: #000;"><span style="color: #ff0000">*</span>File input</label>
                                                    <input type="file" class="form-control-file" id="uploaded_file" name="uploaded_file" required>
                                                    <small class="text-muted">Please attach your resume here</small><br>

                                                    <input class="btn btn-primary" type="submit" name="submit" value="Submit" style="margin-top: 15px;">
                                                </form>
                                            </div>
                                            <!-- End of Modal Content -->
                                            <!-- Modal Footer -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                            <!-- End of Modal Footer -->

                                        </div>
                                    </div>
                                </div>
                                <!-- End of Wolff Apartment Communities Modal -->

                            </div>

                        </div>

                        <!-- image section -->
                        <div class="col-xs-12 col-md-6 col-lg-4 cardRightImg hiddenMobile">
                            <img src="../img/wellApartmentsOutside.jpg" />
                        </div>

                    </div>



                    <!-- 
                        
                        work at franklin
                        
                         -->
                    <div class="row">
                        
                        
                        <!-- image section -->
                        <div class="col-xs-12 col-md-6 col-lg-4 cardLeftImg">
                            <img src="../img/franklin park hp.jpg" />
                        </div>


                        <!-- text section -->
                        <div class="col-xs-12 col-md-6 col-lg-8 cardRightText" style="background-color: #3d3536; color: #fff;">

                            <!-- header -->
                            <div class="fullWidth" style="height: 25%; padding-left: 2%; text-align: right;">
                                <h1 style="margin-right: 5%;">Emerald Village</h1>
                                <hr style="color: #aaa; width: 90%;" />
                            </div>

                            <div class="fullWidth centerText" style="height: 10%; font-size: 18px; padding: 1%;">
                                <p>Contact us to learn more about working at Emerald Village</p>
                            </div>

                            <!-- body -->
                            <div class="fullWidth centerText" style="height: 65%; font-size: 18px; padding: 2%; margin-top: 25px;">

                                <button type="button" class="btn" data-toggle="modal" data-target="#emeraldEmploymentModal" style="border-radius: 0px; background-color: transparent; border: 1px solid #fff; font-size: 16px;">Contact Us</button>

                                <!-- Franklin Park Senior Living Modal -->
                                <div id="emeraldEmploymentModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="emeraldEmploymentModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title" style="color: #000;">Emerald Village</h4>
                                            </div>
                                            <div class="modal-body" style="text-align: center;">
                                                <!--<h4>To learn more about the Valley Health Systems Henderson Hospital click <a ng-href="mailto:hr@hendersonhospital.com?subject=Inquiring%20About%20A%20Job%20Opening&body=Name:%0D%0DJob%20I'm%20Inquiring%20About:%0D%0DYears%20of%20Experience:%0D%0DHours%20Available%20Per%20Week:%0D%0DExpected%20Compensation:%0D%0D%0D%0DCover%20Letter:%0D%0D">HERE</a> or email work@unionvillage.net</h4>-->
                                                <h4 style="color: #000;">To learn more about working at Emerald Village fill out the form below with your contact information, cover letter, and attached resume</h4>

                                                <form action="php/work_form_email.php" method="post" style="text-align: left;" enctype="multipart/form-data">

                                                    <label for="fname" style="margin-top: 0px; color: #000;"><span style="color: #ff0000">*</span>First Name:</label>
                                                    <input type="text" class="form-control" ng-model="firstName" placeholder="First Name" name="first_name" id="fname" style="width: 75%;" required /><br>

                                                    <label for="lname" style="margin-top: 0px; color: #000;"><span style="color: #ff0000">*</span>Last Name:</label>
                                                    <input type="text" class="form-control" ng-model="lastName" placeholder="Last Name" name="last_name" id="lname" style="width: 75%;" required /><br>

                                                    <label for="yemail" style="margin-top: 0px; color: #000;"><span style="color: #ff0000">*</span>Your Email:</label>
                                                    <input type="text" class="form-control" ng-model="yourEmail" placeholder="Your Email" name="email" id="yemail" style="width: 75%;" required /><br>

                                                    <label for="message" style="margin-top: 0px; color: #000;"><span style="color: #ff0000">*</span>Cover Letter:</label>
                                                    <textarea class="form-control" ng-model="message" name="message" rows="5" id="message" style="width: 75%; resize: none;" required></textarea><br>

                                                    <label for="facility" style="margin-top: 0px; color: #000;"><span style="color: #ff0000">*</span>Facility:</label>
                                                    <select class="form-control" id="facility" name="facility" style="width: 75%;" required>
                                                        <option value="Franklin Park Senior Living" selected>Emerald Village</option>
                                                    </select><br>

                                                    <label for="uploaded_file" style="color: #000;"><span style="color: #ff0000">*</span>File input</label>
                                                    <input type="file" class="form-control-file" id="uploaded_file" name="uploaded_file" required>
                                                    <small class="text-muted">Please attach your resume here</small><br>

                                                    <input class="btn btn-primary" type="submit" name="submit" value="Submit" style="margin-top: 15px;">
                                                </form>
                                            </div>
                                            <!-- End of Modal Content -->
                                            <!-- Modal Footer -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                            <!-- End of Modal Footer -->

                                        </div>
                                    </div>
                                </div>
                                <!-- End of Franklin Park Senior Living Modal -->

                            </div>

                        </div>

                    </div>                    

                    <div style="width: 100%; height: 10%; border: 0px;"></div>

                </div>


                <!----------------------------------------------------------------------------------------->
                
                <!--

                    PLAY TAB STARTS HERE

                -->

                <div class="tab-pane fade" id="play" role="tabpanel" aria-labelledby="play-tab" style="padding-top: 2%; height: 100%;">

                    <!-- VR Suites -->
                    <div class="row">

                        <!-- image section -->
                        <div class="col-xs-12 col-md-6 col-lg-4 cardLeftImg">
                            <img src="../img/vrSuites.jpg" />
                        </div>

                        <!-- text section -->
                        <div class="col-xs-12 col-md-6 col-lg-8 cardRightText" style="background-color: #99a478;">

                            <!-- header -->
                            <div class="fullWidth" style="height: 25%; padding-left: 2%;  text-align: right;">
                                <h1 style="color: #fff; margin-right: 5%;">Virtual Reality Suites</h1>
                                <hr style="color: #aaa; width: 90%;" />
                            </div>

                            <!-- body -->
                            <div class="fullWidth centerText" style="height: 75%; padding: 2%;">

                                <div class="col-xs-12">
                                    <p class="whiteFont" style="font-size: 18px;">Experience entirely new, unimaginable worlds when you enter into a virtual reality suite at Union Village. Whether you are looking to learn, play, or just sit back and relax we can guarantee you an immersive experience like you have never imagined before.</p>
                                </div>

                            </div>

                        </div>
                    </div>


                    <!-- LVAC -->
                    <div class="row">

                        <!-- image section -->
                        <div class="col-xs-12 col-md-6 col-lg-4 cardRightImg shownMobile">
                            <img src="../img/lvacFront.png" />
                        </div>

                        <!-- text section -->
                        <div class="col-xs-12 col-md-6 col-lg-8 cardLeftText" style="background-color: #b4d7a8; color: #3d3536;">

                            <!-- header -->
                            <div class="fullWidth" style="height: 25%; padding-left: 2%; ">
                                <h1 style="margin-left: 5%;">Las Vegas Athletic Center</h1>
                                <hr style="color: #aaa; width: 90%;" />
                            </div>

                            <!-- body -->
                            <div class="fullWidth centerText" style="height: 75%; padding: 2%;">

                                <div class="col-xs-12 col-lg-6">
                                    <p>LVAC members love the cleanliness, variety and convenience that being a member of Nevada's top health club chain offers.</p>
                                </div>

                                <div class="col-xs-12 col-lg-6">
                                    <p>Whether you come for classes, the weight training programs or just to relax in one of our many pools, we know you will fully enjoy your experience.</p>
                                </div>

                            </div>

                        </div>

                        <!-- image section -->
                        <div class="col-xs-12 col-md-6 col-lg-4 cardRightImg hiddenMobile">
                            <img src="../img/lvacFront.png" />
                        </div>

                    </div>



                    <!-- Retail -->
                    <div class="row">

                        <!-- image section -->
                        <div class="col-xs-12 col-md-6 col-lg-4 cardLeftImg">
                            <img src="../img/retailpromenade2.png" />
                        </div>

                        <!-- text section -->
                        <div class="col-xs-12 col-md-6 col-lg-8 cardRightText" style="background-color: #3d3536;">

                            <!-- header -->
                            <div class="fullWidth" style="height: 25%; padding-left: 2%; text-align: right;">
                                <h1 style="color: #fff; margin-right: 5%;">Retail Promenade</h1>
                                <hr style="color: #aaa; width: 90%;" />
                            </div>

                            <!-- body -->
                            <div class="fullWidth centerText" style="height: 75%; padding: 2%;">

                                <div class="col-xs-12">
                                    <p class="whiteFont" style="font-size: 18px;">Union Village residents and visitors alike will delight at the experiences to be had at the Promenade's veritable social wonderland with its sports bar, interactive virtual reality suites, vintage skating rink, karaoke and arcade, and restaurant establishments.</p>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div style="width: 100%; height: 10%; border: 0px;"></div>

                </div>

            </div>
            <!-- end of tab body contents -->

		</div>
    </div>
</div>