<div class="pgWrapper li-main-wrapper" style="height: 100vh; width: 100%;">
	<div class="row" style="height: 100%;">
		<div class="col-md-12">
          	
			<!-- Top Tab Bar -->
			<ul class="nav nav-tabs">
				<li class="active" style="margin-left: 3%; width: 30%;"><a data-target="#additionalSelection" data-toggle="tab">Live</a></li>
				<li style="width: 30%;"><a data-target="#additionalSelection2" data-toggle="tab">Work</a></li>
				<li style="width: 30%;"><a data-target="#additionalSelection3" data-toggle="tab">Play</a></li>
			</ul>
			<div class="tab-content">
				
				
				<!-- Tab Selection 1 -->
				<div class="tab-pane active" id="additionalSelection" style="padding-top: 0px;">
					
					<!-- Beginning of Main Body Contents -->
          <div class="live-main-wrapper" style="height: 100vh; width: 100%;">
            
            <div class="row" style="padding-top: 0px; margin-top: 0px;">
              <h2 style="margin-left: 2%; margin-top: 0px; margin-bottom: 0px;">Click on an image to learn more!</h2>
            </div>
            
            <div class="row" style="margin-top: -25px;">
              <!-- Independent Senior Living Column -->
              <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="inner-wrapper">
                  <a ui-sref="#" data-toggle="modal" data-target="#wolffApartmentModal">
                    <img src="img/live.png" alt="Live - Union Village" />
                    <div id="overlay_text"><span style="margin-left: 5px;">Apartment Homes</span></div>
                  </a>
                </div>
              </div>
              
              <!-- Independent Senior Living Modal -->
              <div id="wolffApartmentModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
              
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Apartment Homes</h4>
                    </div>
                    <div class="modal-body">
                      <p>Construction will soon start one of the finest apartment home project in Henderson, 1, 2 and 3 Bedroom Apartment Homes</p>
                      <ul>
                        <li>Granite Countertops</li>
                        <li>Espresso Custom Cabinets</li>
                        <li>Under Cabinet Lighting in Kitchen</li>
                        <li>Island Kitchen with Granite</li>
                        <li>Stainless Steel Whirlpool Appliances</li>
                        <li>Faux Wood Flooring</li>
                        <li>Full-Size Washer/Dryer Included</li>
                        <li>Storage on Patio/Balcony*</li>
                        <li>Attached Garages*</li>
                      </ul>
                    </div>
                    <!-- End of Modal Content -->
                    
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    <!-- End of Modal Footer -->
                    
                  </div>
                </div>
              </div>
              <!-- End of Independent Senior Living Modal -->
              
              
              
              <!-- Assisted Living Column -->
              <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="inner-wrapper">
                  <a ui-sref="#" data-toggle="modal" data-target="#franklinParkModal">
                    <img src="img/franklin park townhomes.png" alt="Franklin Park Townhomes at Union Village" />
                    <div id="overlay_text"><span style="margin-left: 5px;">Franklin Park Townhomes</span></div>
                  </a>
                </div>
              </div>
              
              <!-- Assisted Living Modal -->
              <div id="franklinParkModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
              
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Franklin Park Townhomes</h4>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                      <h3>Fill out the form to request more information</h3>
                      
                      <form action="php/live_form_email.php" method="post" style="text-align: left;" enctype="multipart/form-data">
                          
                          <label for="fname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>First Name:</label>
                          <input type="text" class="form-control" ng-model="firstName" placeholder="First Name" name="first_name" id="fname" style="width: 75%;" required/><br>
                          
                          <label for="lname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Last Name:</label>
                          <input type="text" class="form-control" ng-model="lastName" placeholder="Last Name" name="last_name" id="lname" style="width: 75%;" required/><br>
                          
                          <label for="yemail" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Your Email:</label>
                          <input type="text" class="form-control" ng-model="yourEmail" placeholder="Your Email" name="email" id="yemail" style="width: 75%;" required/><br>
                          
                          
                          <label for="message" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Message:</label>
                          <textarea class="form-control" ng-model="message" name="message" rows="5" id="message" style="width: 75%; resize: none;" required></textarea><br>
                          
                          
                          <label for="facility" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Facility:</label>
                          <select class="form-control" id="facility" name="facility" style="width: 75%;" required>
                            <option value="Franklin Park Townhomes" selected>Franklin Park Townhomes</option>
                          </select><br>
                          
                          <input class="btn btn-primary" type="submit" name="submit" value="Submit">
                      </form>
                      
                    </div>
                    <!-- End of Modal Content -->
                    
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    <!-- End of Modal Footer -->
                    
                  </div>
                </div>
              </div>
              
              <!-- Independent Senior Living Column -->
              <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="inner-wrapper">
                  <a ui-sref="#" data-toggle="modal" data-target="#wolffSeniorApartmentModal">
                    <img src="img/wolff senior apartments.png" alt="Senior Apartments at Union Village" />
                    <div id="overlay_text"><span style="margin-left: 5px;">Senior Apartments</span></div>
                  </a>
                </div>
              </div>
              
              <!-- Independent Senior Living Modal -->
              <div id="wolffSeniorApartmentModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
              
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Senior Apartments</h4>
                    </div>
                    <div class="modal-body">
                      <ol>
                        <li>Beautiful, vibrant and affordable senior living for those 55+ is coming to Union Village.  The project will be comprised of three-story mid-rise buildings and carriage style homes, some with garages. These brand new spacious 1, 2 and 2 bedrooms with den floor plans will feature quality interior finishes including Energy Star-rated Clean Steel kitchen appliances, granite countertops and in-home washer/dryer option</li>
                        <li>Community amenities will consist of Wi-Fi care, arts-and-craft room and ability to enjoy free membership in the fitness center and spa at Union Village.</li>
                        <li>Sign up to receive additional materials and updates.</li>
                      </ol>
                    </div>
                    <!-- End of Modal Content -->
                    
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    <!-- End of Modal Footer -->
                    
                  </div>
                </div>
              </div>
              <!-- End of Independent Senior Living Modal -->

              
              <!-- Assisted Living Column -->
              <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="inner-wrapper">
                  <a ui-sref="#" data-toggle="modal" data-target="#franklinAssistedLivingModal">
                    <img src="img/franklin park assisted living.png" alt="Franklin Park Assisted Living Townhomes at Union Village" />
                    <div id="overlay_text"><span style="margin-left: 5px;">Franklin Park Assisted Living Townhomes</span></div>
                  </a>
                </div>
              </div>
              
              <!-- Assisted Living Modal -->
              <div id="franklinAssistedLivingModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
              
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Franklin Park Assisted Living Townhomes</h4>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                      
                      <h3>Fill out the form to request more information</h3>
                      
                      <form action="php/live_form_email.php" method="post" style="text-align: left;" enctype="multipart/form-data">
                          
                          <label for="fname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>First Name:</label>
                          <input type="text" class="form-control" ng-model="firstName" placeholder="First Name" name="first_name" id="fname" style="width: 75%;" required/><br>
                          
                          <label for="lname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Last Name:</label>
                          <input type="text" class="form-control" ng-model="lastName" placeholder="Last Name" name="last_name" id="lname" style="width: 75%;" required/><br>
                          
                          <label for="yemail" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Your Email:</label>
                          <input type="text" class="form-control" ng-model="yourEmail" placeholder="Your Email" name="email" id="yemail" style="width: 75%;" required/><br>
                          
                          <label for="message" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Message:</label>
                          <textarea class="form-control" ng-model="message" name="message" rows="5" id="message" style="width: 75%; resize: none;" required></textarea><br>
                          
                          <label for="facility" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Facility:</label>
                          <select class="form-control" id="facility" name="facility" style="width: 75%;" required>
                            <option value="Franklin Park Assisted Living Townhomes" selected>Franklin Park Assisted Living Townhomes</option>
                          </select><br>
                          
                          <input class="btn btn-primary" type="submit" name="submit" value="Submit">
                      </form>
                      
                    </div>
                    <!-- End of Modal Content -->
                    
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    <!-- End of Modal Footer -->
                    
                  </div>
                </div>
              </div>
              
              <!-- Independent Senior Living Column -->
              <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="inner-wrapper">
                  <a ui-sref="#" data-toggle="modal" data-target="#franklinParkProfessionalModal">
                    <img src="img/franklin park professional.png" alt="Franklin Park Young Professionsal Apartments at Union Village" />
                    <div id="overlay_text"><span style="margin-left: 5px;">Franklin Park Young Professional Apartments</span></div>
                  </a>
                </div>
              </div>
              
              <!-- Independent Senior Living Modal -->
              <div id="franklinParkProfessionalModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
              
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Franklin Park Young Professional Apartments</h4>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                      
                      <h3>Fill out the form to request more information</h3>
                      
                      <form action="php/live_form_email.php" method="post" style="text-align: left;" enctype="multipart/form-data">
                          
                          <label for="fname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>First Name:</label>
                          <input type="text" class="form-control" ng-model="firstName" placeholder="First Name" name="first_name" id="fname" style="width: 75%;" required/><br>
                          
                          <label for="lname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Last Name:</label>
                          <input type="text" class="form-control" ng-model="lastName" placeholder="Last Name" name="last_name" id="lname" style="width: 75%;" required/><br>
                          
                          <label for="yemail" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Your Email:</label>
                          <input type="text" class="form-control" ng-model="yourEmail" placeholder="Your Email" name="email" id="yemail" style="width: 75%;" required/><br>
                          
                          <label for="message" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Message:</label>
                          <textarea class="form-control" ng-model="message" name="message" rows="5" id="message" style="width: 75%; resize: none;" required></textarea><br>
                          
                          <label for="facility" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Facility:</label>
                          <select class="form-control" id="facility" name="facility" style="width: 75%;" required>
                            <option value="Franklin Park Young Professional Apartments" selected>Franklin Park Young Professional Apartments</option>
                          </select><br>
                          
                          <input class="btn btn-primary" type="submit" name="submit" value="Submit">
                      </form>
                      
                    </div>
                    <!-- End of Modal Content -->
                    
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    <!-- End of Modal Footer -->
                    
                  </div>
                </div>
              </div>
              <!-- End of Independent Senior Living Modal -->
              
              
              
              <!-- Assisted Living Column -->
              <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="inner-wrapper">
                  <a ui-sref="#" data-toggle="modal" data-target="#franklinParkMemoryModal">
                    <img src="img/franklin park memory care.png" alt="Franklin Park Memory Cary at Union Village" />
                    <div id="overlay_text"><span style="margin-left: 5px;">Franklin Park Memory Care</span></div>
                  </a>
                </div>
              </div>
              
              <!-- Assisted Living Modal -->
              <div id="franklinParkMemoryModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
              
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Franklin Park Memory Care</h4>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                      
                      <h3>Fill out the form to request more information</h3>
                      
                      <form action="php/live_form_email.php" method="post" style="text-align: left;" enctype="multipart/form-data">
                          
                          <label for="fname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>First Name:</label>
                          <input type="text" class="form-control" ng-model="firstName" placeholder="First Name" name="first_name" id="fname" style="width: 75%;" required/><br>
                          
                          <label for="lname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Last Name:</label>
                          <input type="text" class="form-control" ng-model="lastName" placeholder="Last Name" name="last_name" id="lname" style="width: 75%;" required/><br>
                          
                          <label for="yemail" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Your Email:</label>
                          <input type="text" class="form-control" ng-model="yourEmail" placeholder="Your Email" name="email" id="yemail" style="width: 75%;" required/><br>
                          
                          <label for="message" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Message:</label>
                          <textarea class="form-control" ng-model="message" name="message" rows="5" id="message" style="width: 75%; resize: none;" required></textarea><br>
                          
                          <label for="facility" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Facility:</label>
                          <select class="form-control" id="facility" name="facility" style="width: 75%;" required>
                            <option value="Franklin Park Memory Care" selected>Franklin Park Memory Care</option>
                          </select><br>
                          
                          <input class="btn btn-primary" type="submit" name="submit" value="Submit">
                      </form>
                      
                    </div>
                    <!-- End of Modal Content -->
                    
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    <!-- End of Modal Footer -->
                    
                  </div>
                </div>
              </div>
              <!-- End of Assisted Living Modal -->
        
            </div>
            <!-- End of Row -->

            
          </div>
          <!-- End of Main Body Contents -->
					
				</div>
				<!-- End of Tab Selection 1 -->
				



				
				<!-- Tab Selection 2 -->
				<div class="tab-pane" id="additionalSelection2" style="padding-top: 0px;">
					
          <!-- Beginning of Main Body Contents -->
          <div class="work-page-wrapper" style="height: 100vh; width: 100%;">
            
            <div class="row top-rows" style="margin-top: 0px; padding-top: 0px;">
              <h2 style="margin-left: 2%; margin-top: 0px; margin-bottom: 0px;">Click on an image to direct link to Human Resources!</h2>
            </div>
            
            <div class="row top-rows" style="margin-top: -25px;">
              <!-- Henderson Hospital Column -->
              <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="inner-wrapper">
                <a ui-sref="#" data-toggle="modal" data-target="#vhsHendersonHospitalModal">
                  <img src="img/vhs henderson hospital.png" alt="Henderson Hospital at Union Village" />
                  <div id="overlay_text"><span style="margin-left: 5px;">Valley Health Systems Henderson Hospital</span></div>
                </a>
                </div>
                
                <!-- VHS Hospital Modal -->
                <div id="vhsHendersonHospitalModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Valley Health Systems Henderson Hospital</h4>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                      <!--<h4>To learn more about the Valley Health Systems Henderson Hospital click <a ng-href="mailto:hr@hendersonhospital.com?subject=Inquiring%20About%20A%20Job%20Opening&body=Name:%0D%0DJob%20I'm%20Inquiring%20About:%0D%0DYears%20of%20Experience:%0D%0DHours%20Available%20Per%20Week:%0D%0DExpected%20Compensation:%0D%0D%0D%0DCover%20Letter:%0D%0D">HERE</a> or email work@unionvillage.net</h4>-->
                      <h4>To learn more about working at the Valley Health Systems - Henderson Hospital fill out the form below with your contact information, cover letter, and attached resume</h4>
                      
                      <form action="php/work_form_email.php" method="post" style="text-align: left;" enctype="multipart/form-data">
                            
                        <label for="fname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>First Name:</label>
                        <input type="text" class="form-control" ng-model="firstName" placeholder="First Name" name="first_name" id="fname" style="width: 75%;" required/><br>
                        
                        <label for="lname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Last Name:</label>
                        <input type="text" class="form-control" ng-model="lastName" placeholder="Last Name" name="last_name" id="lname" style="width: 75%;" required/><br>
                        
                        <label for="yemail" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Your Email:</label>
                        <input type="text" class="form-control" ng-model="yourEmail" placeholder="Your Email" name="email" id="yemail" style="width: 75%;" required/><br>
                        
                        <label for="message" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Cover Letter:</label>
                        <textarea class="form-control" ng-model="message" name="message" rows="5" id="message" style="width: 75%; resize: none;" required></textarea><br>
                        
                        <label for="facility" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Facility:</label>
                        <select class="form-control" id="facility" name="facility" style="width: 75%;" required>
                          <option value="Valley Health Systems Henderson Hospital" selected>Valley Health Systems - Henderson Hospital</option>
                        </select><br>
                        
                        <label for="uploaded_file"><span style="color: #ff0000">*</span>File input</label>
                        <input type="file" class="form-control-file" id="uploaded_file" name="uploaded_file" required>
                        <small class="text-muted">Please attach your resume here</small><br>
                        
                        <input class="btn btn-primary" type="submit" name="submit" value="Submit">
                      </form>
                    </div>
                    <!-- End of Modal Content -->
                    
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    <!-- End of Modal Footer -->
                    
                    </div>
                  </div>
                </div>
                <!-- End of VHS Hospital Modal -->
              </div>
              
              
              <!-- LVAC Column -->
              <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="inner-wrapper">
                  <a ui-sref="#" data-toggle="modal" data-target="#LVACModal">
                    <img src="img/lvac fitness center.png" alt="Las Vegas Athletic Center at Union Village" />
                    <div id="overlay_text"><span style="margin-left: 5px;">Las Vegas Athletic Club Fitness Center</span></div>
                  </a>
                </div>
                
                <!-- Las Vegas Athletic Club Fitness Center Modal -->
                <div id="LVACModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Las Vegas Athletic Club Fitness Center</h4>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                      <!--<h4>To learn more about the Valley Health Systems Henderson Hospital click <a ng-href="mailto:hr@hendersonhospital.com?subject=Inquiring%20About%20A%20Job%20Opening&body=Name:%0D%0DJob%20I'm%20Inquiring%20About:%0D%0DYears%20of%20Experience:%0D%0DHours%20Available%20Per%20Week:%0D%0DExpected%20Compensation:%0D%0D%0D%0DCover%20Letter:%0D%0D">HERE</a> or email work@unionvillage.net</h4>-->
                      <h4>To learn more about working at the Las Vegas Athletic Club Fitness Center fill out the form below with your contact information, cover letter, and attached resume</h4>
                      
                      <form action="php/work_form_email.php" method="post" style="text-align: left;" enctype="multipart/form-data">
                            
                        <label for="fname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>First Name:</label>
                        <input type="text" class="form-control" ng-model="firstName" placeholder="First Name" name="first_name" id="fname" style="width: 75%;" required/><br>
                        
                        <label for="lname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Last Name:</label>
                        <input type="text" class="form-control" ng-model="lastName" placeholder="Last Name" name="last_name" id="lname" style="width: 75%;" required/><br>
                        
                        <label for="yemail" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Your Email:</label>
                        <input type="text" class="form-control" ng-model="yourEmail" placeholder="Your Email" name="email" id="yemail" style="width: 75%;" required/><br>
                        
                        <label for="message" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Cover Letter:</label>
                        <textarea class="form-control" ng-model="message" name="message" rows="5" id="message" style="width: 75%; resize: none;" required></textarea><br>
                        
                        <label for="facility" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Facility:</label>
                        <select class="form-control" id="facility" name="facility" style="width: 75%;" required>
                          <option value="Las Vegas Athletic Club Fitness Center" selected>Las Vegas Athletic Club Fitness Center</option>
                        </select><br>
                        
                        <label for="uploaded_file"><span style="color: #ff0000">*</span>File input</label>
                        <input type="file" class="form-control-file" id="uploaded_file" name="uploaded_file" required>
                        <small class="text-muted">Please attach your resume here</small><br>
                        
                        <input class="btn btn-primary" type="submit" name="submit" value="Submit">
                      </form>
                    </div>
                    <!-- End of Modal Content -->
                    
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    <!-- End of Modal Footer -->
                    
                    </div>
                  </div>
                </div>
                <!-- End of Las Vegas Athletic Club Fitness Center Modal -->
              </div>
              
              
              <!-- Kindred Health Column -->
              <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="inner-wrapper">
                  <a ui-sref="#" data-toggle="modal" data-target="#kindredHealthCareLTACModal">
                    <img src="img/kindred healthcare.png" alt="Kindred Healthcare Long Term Accute Care Hospital & Skilled Nursing at Union Village" />
                    <div id="overlay_text"><span style="margin-left: 5px;">Kindred HealthCare - Long Term Acute Care Hospital</span></div>
                  </a>
                </div>
                
                <!-- Kindred HealthCare - Long Term Acute Care Hospital Modal -->
                <div id="kindredHealthCareLTACModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Kindred HealthCare - Long Term Acute Care Hospital</h4>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                      <!--<h4>To learn more about the Valley Health Systems Henderson Hospital click <a ng-href="mailto:hr@hendersonhospital.com?subject=Inquiring%20About%20A%20Job%20Opening&body=Name:%0D%0DJob%20I'm%20Inquiring%20About:%0D%0DYears%20of%20Experience:%0D%0DHours%20Available%20Per%20Week:%0D%0DExpected%20Compensation:%0D%0D%0D%0DCover%20Letter:%0D%0D">HERE</a> or email work@unionvillage.net</h4>-->
                      <h4>To learn more about working at the Kindred HealthCare - Long Term Acute Care Hospital fill out the form below with your contact information, cover letter, and attached resume</h4>
                      
                      <form action="php/work_form_email.php" method="post" style="text-align: left;" enctype="multipart/form-data">
                            
                        <label for="fname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>First Name:</label>
                        <input type="text" class="form-control" ng-model="firstName" placeholder="First Name" name="first_name" id="fname" style="width: 75%;" required/><br>
                        
                        <label for="lname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Last Name:</label>
                        <input type="text" class="form-control" ng-model="lastName" placeholder="Last Name" name="last_name" id="lname" style="width: 75%;" required/><br>
                        
                        <label for="yemail" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Your Email:</label>
                        <input type="text" class="form-control" ng-model="yourEmail" placeholder="Your Email" name="email" id="yemail" style="width: 75%;" required/><br>
                        
                        <label for="message" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Cover Letter:</label>
                        <textarea class="form-control" ng-model="message" name="message" rows="5" id="message" style="width: 75%; resize: none;" required></textarea><br>
                        
                        <label for="facility" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Facility:</label>
                        <select class="form-control" id="facility" name="facility" style="width: 75%;" required>
                          <option value="Kindred HealthCare - Long Term Acute Care Hospital" selected>Kindred HealthCare - Long Term Acute Care Hospital</option>
                        </select><br>
                        
                        <label for="uploaded_file"><span style="color: #ff0000">*</span>File input</label>
                        <input type="file" class="form-control-file" id="uploaded_file" name="uploaded_file" required>
                        <small class="text-muted">Please attach your resume here</small><br>
                        
                        <input class="btn btn-primary" type="submit" name="submit" value="Submit">
                      </form>
                    </div>
                    <!-- End of Modal Content -->
                    
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    <!-- End of Modal Footer -->
                    
                    </div>
                  </div>
                </div>
                <!-- End of Kindred HealthCare - Long Term Acute Care Hospital Modal -->
              </div>

            
              <!-- Assisted Living Column -->
              <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="inner-wrapper">
                  <a ui-sref="#" data-toggle="modal" data-target="#wolffApartmentCommunitiesModal">
                    <img src="img/wolff apartment communities.png" alt="Wolff Apartment Communities at Union Village" />
                    <div id="overlay_text"><span style="margin-left: 5px;">Wolff Apartment Communities</span></div>
                  </a>
                </div>
                
                <!-- Wolff Apartment Communities Modal -->
                <div id="wolffApartmentCommunitiesModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Wolff Apartment Communities</h4>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                      <!--<h4>To learn more about the Valley Health Systems Henderson Hospital click <a ng-href="mailto:hr@hendersonhospital.com?subject=Inquiring%20About%20A%20Job%20Opening&body=Name:%0D%0DJob%20I'm%20Inquiring%20About:%0D%0DYears%20of%20Experience:%0D%0DHours%20Available%20Per%20Week:%0D%0DExpected%20Compensation:%0D%0D%0D%0DCover%20Letter:%0D%0D">HERE</a> or email work@unionvillage.net</h4>-->
                      <h4>To learn more about working at the Wolff Apartment Communities fill out the form below with your contact information, cover letter, and attached resume</h4>
                      
                      <form action="php/work_form_email.php" method="post" style="text-align: left;" enctype="multipart/form-data">
                            
                        <label for="fname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>First Name:</label>
                        <input type="text" class="form-control" ng-model="firstName" placeholder="First Name" name="first_name" id="fname" style="width: 75%;" required/><br>
                        
                        <label for="lname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Last Name:</label>
                        <input type="text" class="form-control" ng-model="lastName" placeholder="Last Name" name="last_name" id="lname" style="width: 75%;" required/><br>
                        
                        <label for="yemail" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Your Email:</label>
                        <input type="text" class="form-control" ng-model="yourEmail" placeholder="Your Email" name="email" id="yemail" style="width: 75%;" required/><br>
                        
                        <label for="message" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Cover Letter:</label>
                        <textarea class="form-control" ng-model="message" name="message" rows="5" id="message" style="width: 75%; resize: none;" required></textarea><br>
                        
                        <label for="facility" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Facility:</label>
                        <select class="form-control" id="facility" name="facility" style="width: 75%;" required>
                          <option value="Wolff Apartment Communities" selected>Wolff Apartment Communities</option>
                        </select><br>
                        
                        <label for="uploaded_file"><span style="color: #ff0000">*</span>File input</label>
                        <input type="file" class="form-control-file" id="uploaded_file" name="uploaded_file" required>
                        <small class="text-muted">Please attach your resume here</small><br>
                        
                        <input class="btn btn-primary" type="submit" name="submit" value="Submit">
                      </form>
                    </div>
                    <!-- End of Modal Content -->
                    
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    <!-- End of Modal Footer -->
                    
                    </div>
                  </div>
                </div>
                <!-- End of Wolff Apartment Communities Modal -->
              </div>
              
              <!-- Franklin Park Senior Living Column -->
              <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="inner-wrapper">
                  <a ui-sref="#" data-toggle="modal" data-target="#franklinParkSeniorLivingModal">
                    <img src="img/franklin park senior living.png" alt="Franklin Park Senior Living at Union Village" />
                    <div id="overlay_text"><span style="margin-left: 5px;">Franklin Park Senior Living</span></div>
                  </a>
                </div>
                
                <!-- Franklin Park Senior Living Modal -->
                <div id="franklinParkSeniorLivingModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Franklin Park Senior Living</h4>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                      <!--<h4>To learn more about the Valley Health Systems Henderson Hospital click <a ng-href="mailto:hr@hendersonhospital.com?subject=Inquiring%20About%20A%20Job%20Opening&body=Name:%0D%0DJob%20I'm%20Inquiring%20About:%0D%0DYears%20of%20Experience:%0D%0DHours%20Available%20Per%20Week:%0D%0DExpected%20Compensation:%0D%0D%0D%0DCover%20Letter:%0D%0D">HERE</a> or email work@unionvillage.net</h4>-->
                      <h4>To learn more about working at the Franklin Park Senior Living fill out the form below with your contact information, cover letter, and attached resume</h4>
                      
                      <form action="php/work_form_email.php" method="post" style="text-align: left;" enctype="multipart/form-data">
                            
                        <label for="fname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>First Name:</label>
                        <input type="text" class="form-control" ng-model="firstName" placeholder="First Name" name="first_name" id="fname" style="width: 75%;" required/><br>
                        
                        <label for="lname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Last Name:</label>
                        <input type="text" class="form-control" ng-model="lastName" placeholder="Last Name" name="last_name" id="lname" style="width: 75%;" required/><br>
                        
                        <label for="yemail" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Your Email:</label>
                        <input type="text" class="form-control" ng-model="yourEmail" placeholder="Your Email" name="email" id="yemail" style="width: 75%;" required/><br>
                        
                        <label for="message" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Cover Letter:</label>
                        <textarea class="form-control" ng-model="message" name="message" rows="5" id="message" style="width: 75%; resize: none;" required></textarea><br>
                        
                        <label for="facility" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Facility:</label>
                        <select class="form-control" id="facility" name="facility" style="width: 75%;" required>
                          <option value="Franklin Park Senior Living" selected>Franklin Park Senior Living</option>
                        </select><br>
                        
                        <label for="uploaded_file"><span style="color: #ff0000">*</span>File input</label>
                        <input type="file" class="form-control-file" id="uploaded_file" name="uploaded_file" required>
                        <small class="text-muted">Please attach your resume here</small><br>
                        
                        <input class="btn btn-primary" type="submit" name="submit" value="Submit">
                      </form>
                    </div>
                    <!-- End of Modal Content -->
                    
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    <!-- End of Modal Footer -->
                    
                    </div>
                  </div>
                </div>
                <!-- End of Franklin Park Senior Living Modal -->
              </div>
              
              
              <!-- Power Aging Center - All Things Wellness Column -->
              <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="inner-wrapper">
                  <a ui-sref="#" data-toggle="modal" data-target="#powerAgingCenterModal">
                    <img src="img/power aging center.png" alt="Power Aging Center All Things Wellness at Union Village" />
                    <div id="overlay_text"><span style="margin-left: 5px;">Power Aging Center - All Things Wellness</span></div>
                  </a>
                </div>
                
                <!-- Franklin Park Senior Living Modal -->
                <div id="powerAgingCenterModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Power Aging Center - All Things Wellness</h4>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                      <!--<h4>To learn more about the Valley Health Systems Henderson Hospital click <a ng-href="mailto:hr@hendersonhospital.com?subject=Inquiring%20About%20A%20Job%20Opening&body=Name:%0D%0DJob%20I'm%20Inquiring%20About:%0D%0DYears%20of%20Experience:%0D%0DHours%20Available%20Per%20Week:%0D%0DExpected%20Compensation:%0D%0D%0D%0DCover%20Letter:%0D%0D">HERE</a> or email work@unionvillage.net</h4>-->
                      <h4>To learn more about working at the Power Aging Center fill out the form below with your contact information, cover letter, and attached resume</h4>
                      
                      <form action="php/work_form_email.php" method="post" style="text-align: left;" enctype="multipart/form-data">
                            
                        <label for="fname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>First Name:</label>
                        <input type="text" class="form-control" ng-model="firstName" placeholder="First Name" name="first_name" id="fname" style="width: 75%;" required/><br>
                        
                        <label for="lname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Last Name:</label>
                        <input type="text" class="form-control" ng-model="lastName" placeholder="Last Name" name="last_name" id="lname" style="width: 75%;" required/><br>
                        
                        <label for="yemail" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Your Email:</label>
                        <input type="text" class="form-control" ng-model="yourEmail" placeholder="Your Email" name="email" id="yemail" style="width: 75%;" required/><br>
                        
                        <label for="message" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Cover Letter:</label>
                        <textarea class="form-control" ng-model="message" name="message" rows="5" id="message" style="width: 75%; resize: none;" required></textarea><br>
                        
                        <label for="facility" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Facility:</label>
                        <select class="form-control" id="facility" name="facility" style="width: 75%;" required>
                          <option value="Power Aging Center" selected>Power Aging Center - All Things Wellness</option>
                        </select><br>
                        
                        <label for="uploaded_file"><span style="color: #ff0000">*</span>File input</label>
                        <input type="file" class="form-control-file" id="uploaded_file" name="uploaded_file" required>
                        <small class="text-muted">Please attach your resume here</small><br>
                        
                        <input class="btn btn-primary" type="submit" name="submit" value="Submit">
                      </form>
                    </div>
                    <!-- End of Modal Content -->
                    
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    <!-- End of Modal Footer -->
                    
                    </div>
                  </div>
                </div>
                <!-- End of Franklin Park Senior Living Modal -->
                
              </div>
            
            </div>
            <!-- End of Row -->

            
          </div>
          <!-- End of Main Body Contents -->
				</div>
				<!-- End of Tab Selection 2 -->
				
				



				
				<!-- Tab Selection 3 -->
				<div class="tab-pane" id="additionalSelection3" style="padding-top: 0px;">
	
  				<!-- Beginning of Main Body Contents -->
          <div class="play-page-wrapper" style="height: 100vh; width: 100%; padding-top: 0px;">
            
            <div class="row top-row" style="padding-top: 0px; margin-top: 0px;">
              <h2 style="margin-top: 0px margin-left: 2%; margin-bottom: 0px;">Click on an image to direct link to our Retail Partners!</h2>
            </div>
            
            <div class="row top-row" style="margin-top: -25px;">
              <!-- LVAC Fitness Center Column -->
              <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="inner-wrapper">
                  <a ui-sref="#" data-toggle="modal" data-target="#lvacFitnessCenterModal">
                    <img src="img/lvac fitness center 2.png" alt="Las Vegas Athletic Center at Union Village" />
                    <div id="overlay_text"><span style="margin-left: 5px;">Las Vegas Athletic Club Fitness Center</span></div>
                  </a>
                </div>
              </div>
              
              <!-- LVAC Fitness Center Modal -->
              <div id="lvacFitnessCenterModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
              
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Las Vegas Athletic Club Fitness Center</h4>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                      <h2>More Info Coming Soon!</h2>
                      <br><br>
                      <h4>To learn more about LVAC click <a ng-href="http://www.lvac.com" target="_blank">HERE</a></h4>
                    </div>
                    <!-- End of Modal Content -->
                    
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    <!-- End of Modal Footer -->
                    
                  </div>
                </div>
              </div>
              <!-- End of LVAC Fitness Center Modal -->
        
            </div>
            <!-- End of LVAC Fitness Center Column and Row -->

            
          </div>
          <!-- End of Main Body Contents -->


				</div>
				<!-- End of Tab Selection 3 -->


				
			</div>
			<!-- end of top tab bar -->
		
		</div>		
	</div>
</div>