<body>
    
    <!-- Beginning of Main Body Contents -->
    <div class="lwp-page-wrapper">
      <div class="row top-row">
        
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <a ui-sref="unionVillage.live">
            <h1>Live.</h1>
            <img src="img/live.png">
          </a>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <a ui-sref="unionVillage.work">
            <h1>Work.</h1>
            <img src="img/work.png">
          </a>
        </div>
        
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <a ui-sref="unionVillage.play">
            <h1>Play.</h1>
            <img src="img/play.png">
          </a>
        </div>
      </div>
      
      <div class="row bottom-row">
        <div class="col-xs-12">
          <h2>Click on one of the pictures to learn more!</h2>
        </div>
      </div>
      
    </div>
    <!-- End of Main Body Contents -->

</body>