<body ng-app="unionVillage">
    
    <!-- Beginning of Main Body Contents -->
    <div class="live-main-wrapper" style="height: 100vh; width: 100%;">
      
      <div class="row">
        <h1 style="display: inline;">Live.</h1>
        <h4 style="display: inline; margin-left: 2%;">Click on an image to learn more!</h4>
      </div>
      
      <div class="row">
        <!-- Independent Senior Living Column -->
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="inner-wrapper">
            <a ui-sref="#" data-toggle="modal" data-target="#wolffApartmentModal">
              <img src="img/live.png" alt="Live - Union Village" />
              <div id="overlay_text"><span style="margin-left: 5px;">Apartment Homes</span></div>
            </a>
          </div>
        </div>
        
        <!-- Independent Senior Living Modal -->
        <div id="wolffApartmentModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
        
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Apartment Homes</h4>
              </div>
              <div class="modal-body">
                <p>Construction will soon start one of the finest apartment home project in Henderson, 1, 2 and 3 Bedroom Apartment Homes</p>
                <ul>
                  <li>Granite Countertops</li>
                  <li>Espresso Custom Cabinets</li>
                  <li>Under Cabinet Lighting in Kitchen</li>
                  <li>Island Kitchen with Granite</li>
                  <li>Stainless Steel Whirlpool Appliances</li>
                  <li>Faux Wood Flooring</li>
                  <li>Full-Size Washer/Dryer Included</li>
                  <li>Storage on Patio/Balcony*</li>
                  <li>Attached Garages*</li>
                </ul>
              </div>
              <!-- End of Modal Content -->
              
              <!-- Modal Footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
              <!-- End of Modal Footer -->
              
            </div>
          </div>
        </div>
        <!-- End of Independent Senior Living Modal -->
        
        
        
        <!-- Assisted Living Column -->
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="inner-wrapper">
            <a ui-sref="#" data-toggle="modal" data-target="#franklinParkModal">
              <img src="img/franklin park townhomes.png" alt="Franklin Park Townhomes at Union Village" />
              <div id="overlay_text"><span style="margin-left: 5px;">Franklin Park Townhomes</span></div>
            </a>
          </div>
        </div>
        
        <!-- Assisted Living Modal -->
        <div id="franklinParkModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
        
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Franklin Park Townhomes</h4>
              </div>
              <div class="modal-body" style="text-align: center;">
                <h3>Fill out the form to request more information</h3>
                
                <form action="php/live_form_email.php" method="post" style="text-align: left;" enctype="multipart/form-data">
                    
                    <label for="fname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>First Name:</label>
                    <input type="text" class="form-control" ng-model="firstName" placeholder="First Name" name="first_name" id="fname" style="width: 75%;" required/><br>
                    
                    <label for="lname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Last Name:</label>
                    <input type="text" class="form-control" ng-model="lastName" placeholder="Last Name" name="last_name" id="lname" style="width: 75%;" required/><br>
                    
                    <label for="yemail" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Your Email:</label>
                    <input type="text" class="form-control" ng-model="yourEmail" placeholder="Your Email" name="email" id="yemail" style="width: 75%;" required/><br>
                    
                    
                    <label for="message" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Message:</label>
                    <textarea class="form-control" ng-model="message" name="message" rows="5" id="message" style="width: 75%; resize: none;" required></textarea><br>
                    
                    
                    <label for="facility" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Facility:</label>
                    <select class="form-control" id="facility" name="facility" style="width: 75%;" required>
                      <option value="Franklin Park Townhomes" selected>Franklin Park Townhomes</option>
                    </select><br>
                    
                    <input class="btn btn-primary" type="submit" name="submit" value="Submit">
                </form>
                
              </div>
              <!-- End of Modal Content -->
              
              <!-- Modal Footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
              <!-- End of Modal Footer -->
              
            </div>
          </div>
        </div>
        
        <!-- Independent Senior Living Column -->
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="inner-wrapper">
            <a ui-sref="#" data-toggle="modal" data-target="#wolffSeniorApartmentModal">
              <img src="img/wolff senior apartments.png" alt="Senior Apartments at Union Village" />
              <div id="overlay_text"><span style="margin-left: 5px;">Senior Apartments</span></div>
            </a>
          </div>
        </div>
        
        <!-- Independent Senior Living Modal -->
        <div id="wolffSeniorApartmentModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
        
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Senior Apartments</h4>
              </div>
              <div class="modal-body">
                <ol>
                  <li>Beautiful, vibrant and affordable senior living for those 55+ is coming to Union Village.  The project will be comprised of three-story mid-rise buildings and carriage style homes, some with garages. These brand new spacious 1, 2 and 2 bedrooms with den floor plans will feature quality interior finishes including Energy Star-rated Clean Steel kitchen appliances, granite countertops and in-home washer/dryer option</li>
                  <li>Community amenities will consist of Wi-Fi care, arts-and-craft room and ability to enjoy free membership in the fitness center and spa at Union Village.</li>
                  <li>Sign up to receive additional materials and updates.</li>
                </ol>
              </div>
              <!-- End of Modal Content -->
              
              <!-- Modal Footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
              <!-- End of Modal Footer -->
              
            </div>
          </div>
        </div>
        <!-- End of Independent Senior Living Modal -->

        
        <!-- Assisted Living Column -->
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="inner-wrapper">
            <a ui-sref="#" data-toggle="modal" data-target="#franklinAssistedLivingModal">
              <img src="img/franklin park assisted living.png" alt="Franklin Park Assisted Living Townhomes at Union Village" />
              <div id="overlay_text"><span style="margin-left: 5px;">Franklin Park Assisted Living Townhomes</span></div>
            </a>
          </div>
        </div>
        
        <!-- Assisted Living Modal -->
        <div id="franklinAssistedLivingModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
        
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Franklin Park Assisted Living Townhomes</h4>
              </div>
              <div class="modal-body" style="text-align: center;">
                
                <h3>Fill out the form to request more information</h3>
                
                <form action="php/live_form_email.php" method="post" style="text-align: left;" enctype="multipart/form-data">
                    
                    <label for="fname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>First Name:</label>
                    <input type="text" class="form-control" ng-model="firstName" placeholder="First Name" name="first_name" id="fname" style="width: 75%;" required/><br>
                    
                    <label for="lname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Last Name:</label>
                    <input type="text" class="form-control" ng-model="lastName" placeholder="Last Name" name="last_name" id="lname" style="width: 75%;" required/><br>
                    
                    <label for="yemail" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Your Email:</label>
                    <input type="text" class="form-control" ng-model="yourEmail" placeholder="Your Email" name="email" id="yemail" style="width: 75%;" required/><br>
                    
                    <label for="message" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Message:</label>
                    <textarea class="form-control" ng-model="message" name="message" rows="5" id="message" style="width: 75%; resize: none;" required></textarea><br>
                    
                    <label for="facility" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Facility:</label>
                    <select class="form-control" id="facility" name="facility" style="width: 75%;" required>
                      <option value="Franklin Park Assisted Living Townhomes" selected>Franklin Park Assisted Living Townhomes</option>
                    </select><br>
                    
                    <input class="btn btn-primary" type="submit" name="submit" value="Submit">
                </form>
                
              </div>
              <!-- End of Modal Content -->
              
              <!-- Modal Footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
              <!-- End of Modal Footer -->
              
            </div>
          </div>
        </div>
        
        <!-- Independent Senior Living Column -->
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="inner-wrapper">
            <a ui-sref="#" data-toggle="modal" data-target="#franklinParkProfessionalModal">
              <img src="img/franklin park professional.png" alt="Franklin Park Young Professionsal Apartments at Union Village" />
              <div id="overlay_text"><span style="margin-left: 5px;">Franklin Park Young Professional Apartments</span></div>
            </a>
          </div>
        </div>
        
        <!-- Independent Senior Living Modal -->
        <div id="franklinParkProfessionalModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
        
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Franklin Park Young Professional Apartments</h4>
              </div>
              <div class="modal-body" style="text-align: center;">
                
                <h3>Fill out the form to request more information</h3>
                
                <form action="php/live_form_email.php" method="post" style="text-align: left;" enctype="multipart/form-data">
                    
                    <label for="fname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>First Name:</label>
                    <input type="text" class="form-control" ng-model="firstName" placeholder="First Name" name="first_name" id="fname" style="width: 75%;" required/><br>
                    
                    <label for="lname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Last Name:</label>
                    <input type="text" class="form-control" ng-model="lastName" placeholder="Last Name" name="last_name" id="lname" style="width: 75%;" required/><br>
                    
                    <label for="yemail" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Your Email:</label>
                    <input type="text" class="form-control" ng-model="yourEmail" placeholder="Your Email" name="email" id="yemail" style="width: 75%;" required/><br>
                    
                    <label for="message" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Message:</label>
                    <textarea class="form-control" ng-model="message" name="message" rows="5" id="message" style="width: 75%; resize: none;" required></textarea><br>
                    
                    <label for="facility" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Facility:</label>
                    <select class="form-control" id="facility" name="facility" style="width: 75%;" required>
                      <option value="Franklin Park Young Professional Apartments" selected>Franklin Park Young Professional Apartments</option>
                    </select><br>
                    
                    <input class="btn btn-primary" type="submit" name="submit" value="Submit">
                </form>
                
              </div>
              <!-- End of Modal Content -->
              
              <!-- Modal Footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
              <!-- End of Modal Footer -->
              
            </div>
          </div>
        </div>
        <!-- End of Independent Senior Living Modal -->
        
        
        
        <!-- Assisted Living Column -->
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="inner-wrapper">
            <a ui-sref="#" data-toggle="modal" data-target="#franklinParkMemoryModal">
              <img src="img/franklin park memory care.png" alt="Franklin Park Memory Cary at Union Village" />
              <div id="overlay_text"><span style="margin-left: 5px;">Franklin Park Memory Care</span></div>
            </a>
          </div>
        </div>
        
        <!-- Assisted Living Modal -->
        <div id="franklinParkMemoryModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
        
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Franklin Park Memory Care</h4>
              </div>
              <div class="modal-body" style="text-align: center;">
                
                <h3>Fill out the form to request more information</h3>
                
                <form action="php/live_form_email.php" method="post" style="text-align: left;" enctype="multipart/form-data">
                    
                    <label for="fname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>First Name:</label>
                    <input type="text" class="form-control" ng-model="firstName" placeholder="First Name" name="first_name" id="fname" style="width: 75%;" required/><br>
                    
                    <label for="lname" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Last Name:</label>
                    <input type="text" class="form-control" ng-model="lastName" placeholder="Last Name" name="last_name" id="lname" style="width: 75%;" required/><br>
                    
                    <label for="yemail" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Your Email:</label>
                    <input type="text" class="form-control" ng-model="yourEmail" placeholder="Your Email" name="email" id="yemail" style="width: 75%;" required/><br>
                    
                    <label for="message" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Message:</label>
                    <textarea class="form-control" ng-model="message" name="message" rows="5" id="message" style="width: 75%; resize: none;" required></textarea><br>
                    
                    <label for="facility" style="margin-top: 0px;"><span style="color: #ff0000">*</span>Facility:</label>
                    <select class="form-control" id="facility" name="facility" style="width: 75%;" required>
                      <option value="Franklin Park Memory Care" selected>Franklin Park Memory Care</option>
                    </select><br>
                    
                    <input class="btn btn-primary" type="submit" name="submit" value="Submit">
                </form>
                
              </div>
              <!-- End of Modal Content -->
              
              <!-- Modal Footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
              <!-- End of Modal Footer -->
              
            </div>
          </div>
        </div>
        <!-- End of Assisted Living Modal -->
   
      </div>
      <!-- End of Row -->
  
      
      <!-- Row for bottom navigation -->
      <div class="row bottom-row">
        
        <div class="col-xs-6" id="prev-button">
          <a ui-sref="unionVillage.project"><h2 style="display: inline;"><span style="margin-left: 0px; font-size: 24px;" class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="padding-left: 16%;"></span>Live, Work, Play</h2></a>
        </div>
        
        <div class="col-xs-6" id="next-button">
          <a ui-sref="unionVillage.work"><h2 style="display: inline;">Work.<span style="margin-left: 0px; font-size: 24px;" class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="padding-left: 16%;"></span></h2></a>
        </div>
        
      </div>
      
    </div>
    <!-- End of Main Body Contents -->
  
</body>