/* General Main Body Styling */
html {
  height: 100%;
}
.devBorder{
    border: 1px solid black;
}
.halfHeight {
    height: 50%;
}
body {
  font-family: "Trebuchet MS", Verdana, sans-serif;
  font-size: 16px;
  background-color: #fff; 
  color: #696969;
  max-width: 100%;
  overflow-x: hidden;
}

#main {
  margin-top: 5%;
  padding: 5px;
  padding-left:  15px;
  padding-right: 15px;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
}
.pgWrapper {
  height: 100vh;
  width: 100%;
  padding-top: 50px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.fullWidth {
    width: 100%;
}

.centerText {
    text-align: center;
}

.whiteFont {
    color: #fff;
}

.devBorder {
    border: 1px solid #000;
}
/* End of General Main Body Styling */

/* Top Navbar Background Styling */
nav.navbar-fixed-top {
    background-color: #837e72;
    border-bottom: none;
}

/* Navbar Font Coloring */
nav.navbar div.collapse ul li.active a {
  color: #000 !important; /* Changes font color to black on active tab */
  background-color: #fff !important;
}

nav.navbar div.collapse ul li a {
  color: #fff !important; /* Changes font color of main tabs good grey is: #c4c4c4 */
  font-size: 14px; /* Changes font size of main tabs */
}

nav.navbar div.collapse ul ul.dropdown-menu li a {
  color: #999 !important;
}

/* Styling for hamburger menu transitions on mobile */
.navbar-default .navbar-nav li a:hover {
  transition: 0.7s all linear;
	height: 100%;
}
/* End of Top Navbar Styling */

/* HOME PAGE
fixed section 1 */
.cd-bg-1 .hospitalHeader {
  font-size: 72px;
  margin-bottom: 5%;
  z-index: 999;
}
/* scrolling section 1 */
.cd-main-content div#cdVideo {
  text-align: center;
  padding-left: 2% !important;
  padding-right: 2% !important;
  padding-bottom: 2% !important;
  padding-top: 1% !important;
}
.cd-main-content div#cdVideo video {
  height: 70%;
  margin: 0px;
  width: 80%;
}
.cd-main-content div#cdVision {
  text-align: center;
  padding-left: 2% !important;
  padding-right: 2% !important;
  padding-bottom: 2% !important;
  padding-top: 1% !important;
}
.cd-main-content div#cdVision .cd-container img {
  height: 80%; 
  margin: 0px;
  width: 90% !important;
}
div#ourVision .cd-container .visionVerbiage {
  font-size: 26px;
  margin: 0px auto;
  width: 100%;
}

/* mobile styling */
@media only screen and (max-width: 768px) {
  .cd-bg-1 .hospitalHeader {
    font-size: 48px;
    margin-bottom: 5%;
  }
  .cd-main-content div#cdVideo video {
    height: 100%;
    margin-top: 15%;
    width: 100%;
  }
  .cd-main-content div#cdVision .cd-container img {
    height: 100% !important;
    margin-top: 15%;
    width: 100%;
  }
  div#ourVision .cd-container .visionVerbiage {
    font-size: 20px;
    margin: 10px auto;
    width: 95%;
  }
}

.arrowContainer {
    background-color: rgba(0,0,0,.4);
    height: 100%;
    position: absolute;
    top: 0px;
    width: 100%;
}
.firstArrow {
    position: absolute; 
    top: 83%;
}
.secondArrow {
    position: absolute; 
    top: 86%;
}
.thirdArrow {
    position: absolute; 
    top: 89%;
}


/* Footer Styling for Entire Site */
.navbar#foot01 {
  min-height:20px !important;
  height: 25px !important;
  padding: 7px !important;
  color: #fff; 
  text-align: right;
  background: #837e72;
  border: 0px;
}


/* Integrated Health Village Styling - UNUSED NOW
.ivWrapper {
	height: 100vh;
}

.ivWrapper .carousel-inner .item img {
  width: 100%;
  height: 100vh;

}

.ivWrapper .carousel .carousel-inner .item .ivcarousel-caption {
	background-color: rgba(87, 87, 87, 0.8);
	color: black;
  right: 10%;
  text-align: center;
  max-width: 500px;
	width: 300px;
  left: auto;
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
	padding: 2%;
}

.ivWrapper .carousel .carousel-inner .item .ivcarousel-caption p {
	font-size: 24px;
	color: #fff;
}
/* End of Integrated Health Village Styling */



/* Our Village Styling */
.wvWrapper {
  height: 100vh;
}

.wvWrapper .carousel-inner .item img {
  width: 100%;
  height: 100vh;

}

.wvWrapper .carousel-inner .item .carousel-caption {
	background-color: rgba(87, 87, 87, 0.8);
	color: black;
  text-align: center;
  top: 70%;
  transform: translateY(-50%);
  bottom: initial;
	padding: 2%;
  margin: 0px auto;
}

.wvWrapper .carousel-inner .item .carousel-caption p {
	font-size: 24px;
	color: #fff;
}

/* mobile styling */
@media only screen and (max-width: 768px) {
  .wvWrapper .carousel-inner .item .carousel-caption p {
    font-size: 20px;
    color: #fff;
  }
  .wvWrapper .carousel-inner .item .carousel-caption span {
    font-size: 22px;
    color: #fff;
  }
}
/* End of Wellness Village Styling */



/* Location Page Styling
/* Page Loader (Only being used on Location Page)
#page {
  display: none;
  margin-top: 55px;
}
#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(192, 192, 192, 0.5);
  background-image: url("http://i.stack.imgur.com/MnyxU.gif");
  background-repeat: no-repeat;
  background-position: center;
}

/* Left Column Styling
section.loc-page-wrapper .row {
  width: 100%;
  padding-top: 3%;
  margin-left: 0px;
  margin-right: 0px;
}

section.loc-page-wrapper .row div#par-col {
  margin: 3% auto;
}

section.loc-page-wrapper .row div#par-col div.item {
  text-align: center;
  padding: 10px;
}
section.loc-page-wrapper .row div#par-col div.item p {
  line-height: 1.3;
}


/* Map Column
section.loc-page-wrapper .row .col-lg-8 {
  margin: 3% auto;
  text-align: center;
}
/* End of Location Page Styling */



/* Leasing Info Styling */
.leaseInfoWrapper{
    height: 100vh;
	margin-top: 55px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding: 0px;
}
.leaseInfoWrapper .colWrapper {
    height: 50% !important;
    padding: 5px;
}
.leaseInfoWrapper .colWrapper .inner-wrapper {
    color: white;
    position: relative;
    text-align: center;
}
.leaseInfoWrapper .colWrapper .inner-wrapper img {
    height: 100%;
    width: 100%;
}
.leaseInfoWrapper .colWrapper .inner-wrapper .overlayText  {
    background-color: rgba(0,0,0,.5);
    font-size: 18px;
    height: 40px;
    left: 0px;
    padding-top: 2%;
    position: absolute;
    top: 0px;
    width: 100%;
}
.leaseInfoWrapper .bottomPad {
    height: 40px;
    width: 100%;
}
/* End of Leasing Info Styling */

/* Live, Work, Play styling */
.lwpWrapper {
    margin-top: 55px;
}

/* lwp tab-content */
.lwpWrapper .tab-content {
    height: 100vh;
}

/* lwp tab 1 - Live */
.lwpWrapper .tab-pane .row {
    height: 50%; 
    margin: 7px auto;
    padding: 0px !important;
    width: 95%; 
}

/* card w/ left img & right text */
.lwpWrapper .tab-pane  .row .cardLeftImg {
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-top: 1px solid #aaa;
    height: 100%;
    padding: 0px;
}
.lwpWrapper .tab-pane  .row .cardLeftImg img {
    height: 100%;
    margin: 0px;
    width: 100%;
}
.lwpWrapper .tab-pane  .row .cardRightText {
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-top: 1px solid #aaa;
    height: 100%;
    padding: 0px;
}

/* card w/ right img & left text */
.lwpWrapper .tab-pane  .row .cardRightImg {
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-top: 1px solid #aaa;
    height: 100%;
    padding: 0px;
}
.lwpWrapper .tab-pane  .row .cardLeftText {
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-top: 1px solid #aaa;
    height: 100%;
}
.lwpWrapper .tab-pane  .row .cardRightImg img {
    height: 100%;
    margin: 0px;
    width: 100%;
}



/* Our Company Page Styling */
.oc-page-wrapper{
  margin-top: 55px;
}
.oc-page-wrapper div#cofounder-row {
  width: 100%;
  margin-left: 0px;
}

.oc-page-wrapper div#cofounder-row .col-md-4 {
  height: 100%;
  text-align: center;
}

.oc-page-wrapper div#cofounder-row .col-md-4 a {
  text-decoration: none;
  color: #000;
}

.oc-page-wrapper div#cofounder-row .col-md-4 img {
  width: 250px;
  height: 300px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/*clearfixes*/

.oc-page-wrapper .cf:before,
.oc-page-wrapper .cf:after {
  content: " ";
  display: table;
}

.oc-page-wrapper .cf:after {
  clear: both;
}

.oc-page-wrapper .main-container {
  background: #fff;
  max-width: 1000px;
  margin: 25px auto 25px auto;
  position: relative;
}

.oc-page-wrapper .container {
  position: relative;
  padding: 25px;
}

.oc-page-wrapper .container:last-of-type {
  padding-top: 0px;
}
/*animation element*/

.oc-page-wrapper .animation-element {
  position: relative;
  width: 25%;
  margin: 0% 3% 3% 1.5%;
  float: left;
}
/*4 grid layout*/

.oc-page-wrapper .animation-element:nth-of-type(4n-3) {
  clear: left;
}

.oc-page-wrapper .animation-element:nth-of-type(4n-0) {
  clear: right;
}
/*left fancy animation*/

@-moz-keyframes left_animation {
  0% {
    opacity: 0;
    -moz-transform: rotate(180deg) translate3d(100%, 100%, 0);
  }
  75% {
    opacity: 0.8;
    -moz-transform: rotate(-40deg);
  }
  100% {
    opacity: 1;
    -moz-transform: rotate(0deg) translate3d(0%, 0%, 0);
  }
}

@-webkit-keyframes left_animation {
  0% {
    opacity: 0;
    -webkit-transform: rotate(180deg) translate3d(100%, 100%, 0);
  }
  75% {
    opacity: 0.8;
    -webkit-transform: rotate(-40deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0deg) translate3d(0%, 0%, 0);
  }
}

@keyframes left_animation {
  0% {
    opacity: 0;
    transform: rotate(180deg) translate3d(100%, 100%, 0);
  }
  75% {
    opacity: 0.8;
    transform: rotate(-40deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translate3d(0%, 0%, 0);
  }
}
/*right fancy animation*/

@-moz-keyframes right_animation {
  0% {
    opacity: 0;
    -moz-transform: rotate(180deg) translate3d(-100%, -100%, 0);
  }
  75% {
    opacity: 0.8;
    -moz-transform: rotate(40deg);
  }
  100% {
    opacity: 1;
    -moz-transform: rotate(0deg) translate3d(0%, 0%, 0);
  }
}

@-webkit-keyframes right_animation {
  0% {
    opacity: 0;
    -webkit-transform: rotate(180deg) translate3d(-100%, 100%, 0);
  }
  75% {
    opacity: 0.8;
    -webkit-transform: rotate(40deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0deg) translate3d(0%, 0%, 0);
  }
}

@keyframes right_animation {
  0% {
    opacity: 0;
    transform: rotate(180deg) translate3d(-100%, -100%, 0);
  }
  75% {
    opacity: 0.8;
    transform: rotate(40deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translate3d(0%, 0%, 0);
  }
}
/*Multi-step animation*/

.oc-page-wrapper .multi-step-left .gallery,
.oc-page-wrapper .multi-step-right .gallery {
  position: relative;
  opacity: 0;
  /*prevents flicker as animation occurs*/
}

.oc-page-wrapper .multi-step-left.in-view .gallery {
  -moz-animation: left_animation 1300ms ease-in both;
  -webkit-animation: left_animation 1300ms ease-in both;
  animation: left_animation 1300ms ease-in both;
}

.oc-page-wrapper .multi-step-right.in-view .gallery {
  -moz-animation: right_animation 1300ms linear both;
  -webkit-animation: right_animation 1300ms linear both;
  animation: right_animation 1300ms linear both;
}

.oc-page-wrapper .gallery {
  float: left;
  width: 100%;
  height: auto;
  margin: 0% 1.33% 2.66% 1.33%;
}

.oc-page-wrapper .gallery .image {
  background: #F5F5F5;
  border: solid 1px #EAEAEA;
  height: 0px;
  width: 80%;
  width: calc(100% - 40px);
  padding-bottom: 100%;
  padding-bottom: calc(100% - 40px);
  background-size: cover;
  background-position: bottom center;
  position: relative;
  border-radius: 50%;
  margin-bottom: 10px;
}


.oc-page-wrapper .gallery .title {
  margin: 0px 50px 5px 0px;
  text-align: center;
  color: #2c3e50;
  font-weight: 400;
}

.oc-page-wrapper .gallery .subtitle {
  margin: 0px 50px 10px 0px;
  text-align: center;
}

/*media queries for small devices*/

@media screen and (max-width: 678px) {
  .oc-page-wrapper .main-container {
    margin: 25px;
  }
  .oc-page-wrapper .animation-element,
  .oc-page-wrapper .animation-element:nth-of-type(4n-3),
  .oc-page-wrapper .animation-element:nth-of-type(4n-2),
  .oc-page-wrapper .animation-element:nth-of-type(4n-1),
  .oc-page-wrapper .animation-element:nth-of-type(4n-0) {
    width: 100%;
    margin: 0% 0% 25px 0%;
  }
}



/* ---- Our Company Timeline Styling ---- */

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}
/* End of 'Our Company' Timeline Styling
End of Our Company Page Styling */



/* Photos Page -
Carousel Styling */
.photosWrapper {
  height: 100vh;
}
.photosWrapper .carousel {
  height: 100%;
}
.photosWrapper .carousel .carousel-inner {
  height: 100%;
}
.photosWrapper .carousel .carousel-inner .item .homeimg {
  height: 100%;
}
.carousel .item div#photos-carousel {
  top: 25px !important;
}
.photosWrapper .carousel .carousel-inner .item div#photos-carousel .photosHeader {
  background-color: rgba(87, 87, 87, 0.8);
  color: #fff;
  margin: 25px auto;
  width: 50%;
}


/* mobile styling */
@media only screen and (max-width: 768px) {
  .photosWrapper {
    height: 100vh;
  }
  .photosWrapper .carousel {
    height: 100%;
  }
  .photosWrapper .carousel .carousel-inner {
    height: 100%;
  }
  .photosWrapper .carousel .carousel-inner .item .homeimg {
    height: 100%;
  }
  .carousel .item div#photos-carousel {
    top: 25px !important;
  }
  .photosWrapper .carousel .carousel-inner .item div#photos-carousel .photosHeader {
    background-color: rgba(87, 87, 87, 0.8);
    color: #fff;
    margin: 25px auto;
    width: 85%;
  }
}
/* end of mobile styling

end of photos page */



/* site plan page */
.spContainer {
  height:100vh;
  width:100%;
  position:relative;
  text-align: center;
}

.siteplanImg {    
  position:absolute;
  left:0;
  top:0;
}
.spContainer h1.text {
  background-color: rgba(87, 87, 87, 0.8);
  color:white;
  font-weight:bold;
  left: 0;
  margin: 25px auto;
  padding: 5px;
  position:absolute;
  right: 0;
  top: 50px;
  width: 50%;
  z-index:100;
}
@media only screen and (max-width: 768px) {
  .spContainer h1.text {
    background-color: rgba(87, 87, 87, 0.8);
    color:white;
    font-weight:bold;
    left: 0;
    margin: 25px auto;
    padding: 5px;
    position:absolute;
    right: 0;
    top: 50px;
    width: 65%;
    z-index:100;
  }
}
/* end of site plan page */



/* Press Page Styling */
.press-page-wrapper{
	margin-top: 55px;
}
/* Top Rows */
.press-page-wrapper .top-rows {
	width: 100%;
	margin-left: 0px;
	margin-top: 3%;
}

.press-page-wrapper .top-rows col-sm-3 {
	height: 100%;
	padding: 5px;
}

.press-page-wrapper .top-rows col-sm-6 {
	height: 100%;
	padding: 2%;
}
/* End of Top Rows */

/* Bottom Rows */
.press-page-wrapper .bottom-rows {
	width: 100%;
	margin-left: 0px;
	margin-bottom: 5%;
}
.press-page-wrapper .bottom-rows#lastRow {
	padding-bottom: 5%;
}
.press-page-wrapper .bottom-rows .col-sm-3 {
	padding: 5px;
}

.press-page-wrapper .bottom-rows .col-sm-3 a img {
	width: 100%;
}
/* End of Bottom Rows
End of Press Page Styling */



/* Driving Directions Page Styling */
.dd-main-wrapper{
	margin-top: 55px;
}
.dd-main-wrapper .row {
	width: 100%;
	margin-left: 0px;
	margin-bottom: 5%;
}

.dd-main-wrapper .row .col-md-4 {
	text-align: center;
}

.dd-main-wrapper .row .col-md-4 .drivingDirectionsList {
	text-align: left;
}

.dd-main-wrapper .row .col-md-4 p {
	font-size: 14px;
}
/* End of Driving Directions Page Styling */


/* CONTACT PAGE 
first row*/
.contactFirstRow {
  height: 100%; 
  margin-bottom: 3%;
}
.contactFirstRow .mainCol {
  height: 100%;
  padding: 0px;
  text-align: center;
}
.contactFirstRow .mainCol .contactBackgroundImg {
  height: 100%;
  width: 100%;
  margin: 0px;
}
.contactFirstRow .mainCol .contactMainHeader {
  margin-top: -20%;
  color: #fff;
  font-size: 72px;
}
.contactFirstRow .mainCol .contactSecondaryHeader {
  color: #fff;
}

/* second row */
.contactSecondRow {
  height: 45%;
  padding: 0px !important;
}
.contactSecondRow .offsetColumn {
  background-color: #fff;
  height: 40%;
  margin-top: -10% !important;
  padding-top: 2%;
  text-align: center;
  margin-bottom: 0px;
}
.contactSecondRow .offsetColumn .uvLogo {
  height: 90%;
}
.contactSecondRow .offsetColumn h1 {
  font-size: 60px;
}
.contactSecondRow .addressColumn {
  height: 10%;
  text-align: center;
}

/* third row */
.contactThirdRow .maps iframe{
    pointer-events: none;
}

#contact{
    padding: 10px 0;
  }

  .contact-text{
    margin:45px auto;
  }

  .mail-message-area{
    width:100%;
    padding:0 15px;
  }

  .mail-message{
    width: 100%;
    background:rgba(255,255,255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
  }

  .not-visible-message{
    height:0px;
    opacity: 0;
  }

  .visible-message{
    height:auto;
    opacity: 1;
    margin:25px auto 0;
  }

/* Input Styles */

  .form{
    width: 100%;
    padding: 15px;
    background:#f8f8f8;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:25px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .form:hover{
    border:1px solid #8BC3A3;
  }

  .form:focus{
    color: white;
    outline: none;
    border:1px solid #8BC3A3;
  }

  .textarea{
    height: 200px;
    max-height: 200px;
    max-width: 100%;
  }
  
/* Generic Button Styles */

  .button{
    padding:8px 12px;
    background:#0A5175;
    display: block;
    width:120px;
    margin:10px 0 0px 0;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:0.8em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .button:hover{
    background:#8BC3A3;
    color:white;
  }

/* Send Button Styles */

  .form-btn{
    width:180px;
    display: block;
    height: auto;
    padding:15px;
    color:#fff;
    background:#9F1C35;
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .form-btn:hover{
    background:#111;
    color: white;
    border:none;
  }

  .form-btn:active{
    opacity: 0.9;
  }
center{
  margin-top:330px;
}
input.form {
    position: relative;
}

/* fifth row */
.contactFifthRow {
  height: 10%;
}
.contactFifthRow .wrapperCol {
  height: 100%;
  text-align: center;
}
.contactFifthRow .wrapperCol .newsletterHeader {
  color: #2d98c4;
}

/* sixth row */
.contactSixthRow {
  background-color: #44424c;
  padding-bottom: 3%;
}
.fullColumn {
  height: 100%; 
  text-align: center !important;
}
.contactSixthRow .form-group {
  width: 100% !important;
}
.contactSixthRow .form-group input {
  border-radius: 0px;
  margin: 5px auto !important;
  width: 40%;
}
.contactSixthRow .checkbox label {
  color: #fff;
  font-size: 18px;
}
.contactSixthRow .checkbox label a {
  text-decoration: none;
}
.contactSixthRow .checkbox label a:hover {
  color: #2d98c4;
  text-decoration: underline;
}
.contactSixthRow .signupButton {
  background-color: #9F1C35;
  border-radius: 0px;
  color: #fff;
  font-size: 20px;
  height: 40px;
  margin-top: 2%;
  width: 35%;
}

/* seventh row */
.contactSeventhRow {
  background-color: #36343c;
  padding-bottom: 5%;
}
.contactSeventhRow .contactBottomLeftCol {
  text-align: left; padding-left: 5%;
}
.contactSeventhRow .contactBottomLeftCol .contactBottomLogo {
  width: 50%;
}
.contactSeventhRow .contactBottomLeftCol .bottomColSecondaryHeader{
  color: #fff;
}
.contactSeventhRow .social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.contactSeventhRow .social-list li {
  display: inline;
}
.contactSeventhRow .social-list li i {
  color: #fff;
  font-size: 30px;
  margin-right: 10px;
}

#mc_embed_signup{
  background:#44424c;
  color: #fff;
  clear:left;
  font:14px Helvetica,Arial,sans-serif; 
}

/* contact page mobile styling */
@media only screen and (max-width: 768px) {
  /* first row */
  .contactFirstRow .mainCol .contactMainHeader {
    margin-top: -40%;
    color: #fff;
    font-size: 42px;
  }
  .contactFirstRow .mainCol .contactSecondaryHeader {
    color: #fff;
    font-size: 18px;
    margin: 0px auto;
    width: 90%;
  }

  /* second row */
  .contactSecondRow .offsetColumn {
    background-color: #fff;
    height: 40%;
    margin-top: -10% !important;
    padding-top: 2%;
    text-align: center;
    margin-bottom: 0px;
  }
  .contactSecondRow .offsetColumn .uvLogo {
    height: 30%;
  }
  .contactSecondRow .addressColumn .addressHeader {
    font-size: 20px;
  }
  .contactSecondRow .addressColumn .contactInfoHeader {
    font-size: 16px;
  }

  /* fifth row */
  .contactFifthRow .wrapperCol .newsletterHeader {
    font-size: 24px;
  }

  /* seventh row */
  .contactSeventhRow .contactBottomLeftCol .bottomColMainHeader,
  .contactSeventhRow .contactBottomRightCol .bottomColMainHeader {
    font-size: 24px;
  }
  .contactSeventhRow .contactBottomLeftCol .contactBottomLogo {
    width: 100%;
  }
  .contactSeventhRow .contactBottomLeftCol .bottomColSecondaryHeader{
    font-size: 14px;
  }
}
/* END OF CONTACT PAGE */




/* MEDIA QUERIES FOR MOBILE */


/*--------------------------------------------------------------------------

    APPLE DEVICES

----------------------------------------------------------------------------*/

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .shownMobile {
        display: normal;
    }
    .hiddenMobile {
        display: none;
    }

    /* editing font sizing to fit into card */
    .lwpWrapper .tab-pane  .row .cardRightText,
    .lwpWrapper .tab-pane  .row .cardLeftText {
        margin-bottom: 10px;
        height: 250px;
    }
    .lwpWrapper .tab-pane  .row .cardLeftImg,
    .lwpWrapper .tab-pane  .row .cardRightImg{
        height: 60%;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .centerText,
    .lwpWrapper .tab-pane  .row .cardLeftText .centerText {
        margin-top: -20px;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .fullWidth h1,
    .lwpWrapper .tab-pane  .row .cardLeftText .fullWidth h1 {
        font-size: 16px;
        margin-bottom: 0px;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .fullWidth hr,
    .lwpWrapper .tab-pane  .row .cardLeftText .fullWidth hr {
        margin-bottom: 0px;
        margin-top: 7px;
    }
    .lwpWrapper .tab-pane .row .cardRightText .fullWidth p,
    .lwpWrapper .tab-pane .row .cardLeftText .fullWidth p {
        font-size: 12px;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .centerText ul,
    .lwpWrapper .tab-pane  .row .cardLeftText .centerText ul {
        font-size: 12px;
    }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .shownMobile {
        display: normal;
    }
    .hiddenMobile {
        display: none;
    }

    /* editing font sizing to fit into card */
    .lwpWrapper .tab-pane  .row .cardRightText,
    .lwpWrapper .tab-pane  .row .cardLeftText {
        margin-bottom: 10px;
        height: 250px;
    }
    .lwpWrapper .tab-pane  .row .cardLeftImg,
    .lwpWrapper .tab-pane  .row .cardRightImg{
        height: 60%;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .centerText,
    .lwpWrapper .tab-pane  .row .cardLeftText .centerText {
        margin-top: -20px;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .fullWidth h1,
    .lwpWrapper .tab-pane  .row .cardLeftText .fullWidth h1 {
        font-size: 16px;
        margin-bottom: 0px;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .fullWidth hr,
    .lwpWrapper .tab-pane  .row .cardLeftText .fullWidth hr {
        margin-bottom: 0px;
        margin-top: 7px;
    }
    .lwpWrapper .tab-pane .row .cardRightText .fullWidth p,
    .lwpWrapper .tab-pane .row .cardLeftText .fullWidth p {
        font-size: 12px;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .centerText ul,
    .lwpWrapper .tab-pane  .row .cardLeftText .centerText ul {
        font-size: 12px;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .shownMobile {
        display: normal;
    }
    .hiddenMobile {
        display: none;
    }

    /* editing font sizing to fit into card */
    .lwpWrapper .tab-pane  .row .cardRightText,
    .lwpWrapper .tab-pane  .row .cardLeftText {
        margin-bottom: 10px;
        height: 250px;
    }
    .lwpWrapper .tab-pane  .row .cardLeftImg,
    .lwpWrapper .tab-pane  .row .cardRightImg{
        height: 60%;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .centerText,
    .lwpWrapper .tab-pane  .row .cardLeftText .centerText {
        margin-top: -20px;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .fullWidth h1,
    .lwpWrapper .tab-pane  .row .cardLeftText .fullWidth h1 {
        font-size: 16px;
        margin-bottom: 0px;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .fullWidth hr,
    .lwpWrapper .tab-pane  .row .cardLeftText .fullWidth hr {
        margin-bottom: 0px;
        margin-top: 7px;
    }
    .lwpWrapper .tab-pane .row .cardRightText .fullWidth p,
    .lwpWrapper .tab-pane .row .cardLeftText .fullWidth p {
        font-size: 12px;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .centerText ul,
    .lwpWrapper .tab-pane  .row .cardLeftText .centerText ul {
        font-size: 12px;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .shownMobile {
        display: normal;
    }
    .hiddenMobile {
        display: none;
    }

    /* editing font sizing to fit into card */
    .lwpWrapper .tab-pane  .row .cardRightText,
    .lwpWrapper .tab-pane  .row .cardLeftText {
        margin-bottom: 10px;
        height: 250px;
    }
    .lwpWrapper .tab-pane  .row .cardLeftImg,
    .lwpWrapper .tab-pane  .row .cardRightImg{
        height: 60%;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .centerText,
    .lwpWrapper .tab-pane  .row .cardLeftText .centerText {
        margin-top: -20px;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .fullWidth h1,
    .lwpWrapper .tab-pane  .row .cardLeftText .fullWidth h1 {
        font-size: 16px;
        margin-bottom: 0px;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .fullWidth hr,
    .lwpWrapper .tab-pane  .row .cardLeftText .fullWidth hr {
        margin-bottom: 0px;
        margin-top: 7px;
    }
    .lwpWrapper .tab-pane .row .cardRightText .fullWidth p,
    .lwpWrapper .tab-pane .row .cardLeftText .fullWidth p {
        font-size: 12px;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .centerText ul,
    .lwpWrapper .tab-pane  .row .cardLeftText .centerText ul {
        font-size: 12px;
    }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .shownMobile {
        display: normal;
    }
    .hiddenMobile {
        display: none;
    }

    /* editing font sizing to fit into card */
    .lwpWrapper .tab-pane  .row .cardRightText,
    .lwpWrapper .tab-pane  .row .cardLeftText {
        margin-bottom: 10px;
        height: 250px;
    }
    .lwpWrapper .tab-pane  .row .cardLeftImg,
    .lwpWrapper .tab-pane  .row .cardRightImg{
        height: 60%;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .centerText,
    .lwpWrapper .tab-pane  .row .cardLeftText .centerText {
        margin-top: -20px;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .fullWidth h1,
    .lwpWrapper .tab-pane  .row .cardLeftText .fullWidth h1 {
        font-size: 16px;
        margin-bottom: 0px;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .fullWidth hr,
    .lwpWrapper .tab-pane  .row .cardLeftText .fullWidth hr {
        margin-bottom: 0px;
        margin-top: 7px;
    }
    .lwpWrapper .tab-pane .row .cardRightText .fullWidth p,
    .lwpWrapper .tab-pane .row .cardLeftText .fullWidth p {
        font-size: 12px;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .centerText ul,
    .lwpWrapper .tab-pane  .row .cardLeftText .centerText ul {
        font-size: 12px;
    }
}



/*--------------------------------------------------------------------------

    SAMSUNG DEVICES

----------------------------------------------------------------------------*/
/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
    .shownMobile {
        display: normal;
    }
    .hiddenMobile {
        display: none;
    }

    /* editing font sizing to fit into card */
    .lwpWrapper .tab-pane  .row .cardRightText,
    .lwpWrapper .tab-pane  .row .cardLeftText {
        margin-bottom: 10px;
        height: 250px;
    }
    .lwpWrapper .tab-pane  .row .cardLeftImg,
    .lwpWrapper .tab-pane  .row .cardRightImg{
        height: 60%;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .centerText,
    .lwpWrapper .tab-pane  .row .cardLeftText .centerText {
        margin-top: -20px;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .fullWidth h1,
    .lwpWrapper .tab-pane  .row .cardLeftText .fullWidth h1 {
        font-size: 16px;
        margin-bottom: 0px;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .fullWidth hr,
    .lwpWrapper .tab-pane  .row .cardLeftText .fullWidth hr {
        margin-bottom: 0px;
        margin-top: 7px;
    }
    .lwpWrapper .tab-pane .row .cardRightText .fullWidth p,
    .lwpWrapper .tab-pane .row .cardLeftText .fullWidth p {
        font-size: 12px;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .centerText ul,
    .lwpWrapper .tab-pane  .row .cardLeftText .centerText ul {
        font-size: 12px;
    }
}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    .shownMobile {
        display: normal;
    }
    .hiddenMobile {
        display: none;
    }

    /* editing font sizing to fit into card */
    .lwpWrapper .tab-pane  .row .cardRightText,
    .lwpWrapper .tab-pane  .row .cardLeftText {
        margin-bottom: 10px;
        height: 250px;
    }
    .lwpWrapper .tab-pane  .row .cardLeftImg,
    .lwpWrapper .tab-pane  .row .cardRightImg{
        height: 60%;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .centerText,
    .lwpWrapper .tab-pane  .row .cardLeftText .centerText {
        margin-top: -20px;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .fullWidth h1,
    .lwpWrapper .tab-pane  .row .cardLeftText .fullWidth h1 {
        font-size: 16px;
        margin-bottom: 0px;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .fullWidth hr,
    .lwpWrapper .tab-pane  .row .cardLeftText .fullWidth hr {
        margin-bottom: 0px;
        margin-top: 7px;
    }
    .lwpWrapper .tab-pane .row .cardRightText .fullWidth p,
    .lwpWrapper .tab-pane .row .cardLeftText .fullWidth p {
        font-size: 12px;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .centerText ul,
    .lwpWrapper .tab-pane  .row .cardLeftText .centerText ul {
        font-size: 12px;
    }
}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {
    .shownMobile {
        display: normal;
    }
    .hiddenMobile {
        display: none;
    }

    /* editing font sizing to fit into card */
    .lwpWrapper .tab-pane  .row .cardRightText,
    .lwpWrapper .tab-pane  .row .cardLeftText {
        margin-bottom: 10px;
        height: 250px;
    }
    .lwpWrapper .tab-pane  .row .cardLeftImg,
    .lwpWrapper .tab-pane  .row .cardRightImg{
        height: 60%;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .centerText,
    .lwpWrapper .tab-pane  .row .cardLeftText .centerText {
        margin-top: -20px;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .fullWidth h1,
    .lwpWrapper .tab-pane  .row .cardLeftText .fullWidth h1 {
        font-size: 16px;
        margin-bottom: 0px;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .fullWidth hr,
    .lwpWrapper .tab-pane  .row .cardLeftText .fullWidth hr {
        margin-bottom: 0px;
        margin-top: 7px;
    }
    .lwpWrapper .tab-pane .row .cardRightText .fullWidth p,
    .lwpWrapper .tab-pane .row .cardLeftText .fullWidth p {
        font-size: 12px;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .centerText ul,
    .lwpWrapper .tab-pane  .row .cardLeftText .centerText ul {
        font-size: 12px;
    }
}



/*--------------------------------------------------------------------------

    GOOGLE DEVICES

----------------------------------------------------------------------------*/
/* ----------- Google Pixel ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    .shownMobile {
        display: normal;
    }
    .hiddenMobile {
        display: none;
    }

    /* editing font sizing to fit into card */
    .lwpWrapper .tab-pane  .row .cardRightText,
    .lwpWrapper .tab-pane  .row .cardLeftText {
        margin-bottom: 10px;
        height: 250px;
    }
    .lwpWrapper .tab-pane  .row .cardLeftImg,
    .lwpWrapper .tab-pane  .row .cardRightImg{
        height: 60%;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .centerText,
    .lwpWrapper .tab-pane  .row .cardLeftText .centerText {
        margin-top: -20px;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .fullWidth h1,
    .lwpWrapper .tab-pane  .row .cardLeftText .fullWidth h1 {
        font-size: 16px;
        margin-bottom: 0px;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .fullWidth hr,
    .lwpWrapper .tab-pane  .row .cardLeftText .fullWidth hr {
        margin-bottom: 0px;
        margin-top: 7px;
    }
    .lwpWrapper .tab-pane .row .cardRightText .fullWidth p,
    .lwpWrapper .tab-pane .row .cardLeftText .fullWidth p {
        font-size: 12px;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .centerText ul,
    .lwpWrapper .tab-pane  .row .cardLeftText .centerText ul {
        font-size: 12px;
    }
}

/* ----------- Google Pixel XL ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {
    .shownMobile {
        display: normal;
    }
    .hiddenMobile {
        display: none;
    }

    /* editing font sizing to fit into card */
    .lwpWrapper .tab-pane  .row .cardRightText,
    .lwpWrapper .tab-pane  .row .cardLeftText {
        margin-bottom: 10px;
        height: 250px;
    }
    .lwpWrapper .tab-pane  .row .cardLeftImg,
    .lwpWrapper .tab-pane  .row .cardRightImg{
        height: 60%;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .centerText,
    .lwpWrapper .tab-pane  .row .cardLeftText .centerText {
        margin-top: -20px;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .fullWidth h1,
    .lwpWrapper .tab-pane  .row .cardLeftText .fullWidth h1 {
        font-size: 16px;
        margin-bottom: 0px;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .fullWidth hr,
    .lwpWrapper .tab-pane  .row .cardLeftText .fullWidth hr {
        margin-bottom: 0px;
        margin-top: 7px;
    }
    .lwpWrapper .tab-pane .row .cardRightText .fullWidth p,
    .lwpWrapper .tab-pane .row .cardLeftText .fullWidth p {
        font-size: 12px;
    }
    .lwpWrapper .tab-pane  .row .cardRightText .centerText ul,
    .lwpWrapper .tab-pane  .row .cardLeftText .centerText ul {
        font-size: 12px;
    }
}



/*--------------------------------------------------------------------------

    LAPTOP DEVICES

----------------------------------------------------------------------------*/
/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .shownMobile {
        display: none;
    }
    .lwpWrapper .tab-pane .row .cardRightText .fullWidth p {
        font-size: 18px;
    }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .shownMobile {
        display: none;
    }
    .lwpWrapper .tab-pane .row .cardRightText .fullWidth p {
        font-size: 18px;
    }
}